﻿@using Germinator.Services;
@using BadumnaNetworkController;

@model ServicePackageDescription
@{
    ViewBag.Title = Resources.PackageDetails;
}

<script  type="text/javascript">
    function toogleView(itemName) {
        var updateForm = document.getElementsByName(itemName);
        if (updateForm != null && updateForm[0].style.display == 'none') {
            updateForm[0].style.display = 'inline';
        }
        else {
            updateForm[0].style.display = 'none';
        }
    }
</script>

<h3>@ViewBag.DisplayName <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Packages','Overview');"/></h3>

<fieldset>
@if (Model != null && !string.IsNullOrEmpty(Model.ManifestXml))
{
    @Html.RenderXML(Model.ManifestXml, Server.MapPath("~/Content/Package.xslt"), null)

    if (Model.ApplicationName.Contains("Dei")
        || Model.ApplicationName.Contains("OverloadPeer")
        || Model.ApplicationName.Equals("SeedPeer")
        || Model.ApplicationName.Equals("HttpTunneling"))
    {
        <label><input type="checkbox" name="cb" onchange="toogleView('aspnetForm');" /> Update Package</label> 
          
        <form runat="server" method="post" style="display:none;" enctype="multipart/form-data" name="aspnetForm">
            <table>
                <tr>
                    <td>Select Manifest.xml</td>
                    <td><input type="file" id="fileUpload" name="files" /> </td>
                </tr>
                <tr>
                    <td>Select Package</td>
                    <td><input type="file" id="fileUpload1" name="files" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Update" />
                    </td>
                </tr>
            </table>
        </form>
    }
}
else
{
    <p>
        The package for @Html.Encode((string)ViewBag.DisplayName) is not found, please check the "service" directory and make sure
        that the package is installed correctly. Reinstall the Control Center may fix the problem.
    </p> 
}
</fieldset>
<div>
    <p>@Html.ActionLink(Resources.BackToSettings, "Edit", "Component", new { index = ViewBag.index }, null)</p>
</div>