﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = Resources.StatisticsServer;
}

<script language="javascript" type="text/javascript" src="../../Scripts/flot/jquery.flot.js"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Scripts/flot/excanvas.min.js"></script><![endif]-->

<script language="javascript" type="text/javascript">
    $(function() {
        var dayOptions = {
            bars: { show: true, align: "center" },
            legend: { show: false },
            xaxis: { ticks: [[0, "12:00 AM"], [3, "3:00 AM"], [6, "6:00 AM"], [9, "9:00 AM"],
                                [12, "12:00 PM"], [15, "3:00 PM"], [18, "6:00 PM"], [21, "9:00 PM"]] },
            yaxis: { min: 0 }
        };
        var weekOptions = {
            bars: { show: true, align: "center" },
            legend: { show: false },
            xaxis: { ticks: [[2, "Sunday"], [6, "Monday"], [10, "Tuesday"], [14, "Wednesday"],
                                [18, "Thursday"], [22, "Friday"], [26, "Saturday"]] },
            yaxis: { min: 0 }
        };
        var monthOptions = {
            bars: { show: true, align: "center" },
            legend: { show: false },
            xaxis: { ticks: [[0, "1"], [1, "2"], [2, "3"], [3, "4"], [4, "5"], [5, "6"], [6, "7"], [7, "8"], [8, "9"], [9, "10"],
                                [10, "11"], [11, "12"], [12, "13"], [13, "14"], [14, "15"], [15, "16"], [16, "17"], [17, "18"], [18, "19"], [19, "20"],
                                [20, "21"], [21, "22"], [22, "23"], [23, "24"], [24, "25"], [25, "26"], [26, "27"], [27, "28"], [28, "29"], [29, "30"],
                                [30, "31"]] },
            yaxis: { min: 0 }
        };
            
        var selectedIndex = document.getElementById("RangeOptions").selectedIndex;
        var sessionStart = jQuery.parseJSON('@Html.Raw(Json.Encode(ViewBag.SessionStarts))');
        var concurrentUsers = jQuery.parseJSON('@Html.Raw(Json.Encode(ViewBag.ConcurrentUsers))');

        switch (selectedIndex) {
            default:
            case 0:
                $.plot($("#sessionStarts"), sessionStart.plot, dayOptions);
                $.plot($("#concurrentUsers"), concurrentUsers.plot, dayOptions);    
                break;
                    
            case 1:
                $.plot($("#sessionStarts"), sessionStart.plot, weekOptions);
                $.plot($("#concurrentUsers"), concurrentUsers.plot, weekOptions);    
                break;
                    
            case 2:
                $.plot($("#sessionStarts"), sessionStart.plot, monthOptions);
                $.plot($("#concurrentUsers"), concurrentUsers.plot, monthOptions);    
                break;
        }
    });
        
    function OnRangeChange() {
        var dayOptions = {
            bars: { show: true, align: "center" },
            legend: { show: false },
            xaxis: { ticks: [[0, "12:00 AM"], [3, "3:00 AM"], [6, "6:00 AM"], [9, "9:00 AM"],
                                [12, "12:00 PM"], [15, "3:00 PM"], [18, "6:00 PM"], [21, "9:00 PM"]] },
            yaxis: { min: 0 }
        };
        var weekOptions = {
            bars: { show: true, align: "center" },
            legend: { show: false },
            xaxis: { ticks: [[2, "Sunday"], [6, "Monday"], [10, "Tuesday"], [14, "Wednesday"],
                                [18, "Thursday"], [22, "Friday"], [26, "Saturday"]] },
            yaxis: { min: 0 }
        };
        var monthOptions = {
            bars: { show: true, align: "center" },
            legend: { show: false },
            xaxis: { ticks: [[0, "1"], [1, "2"], [2, "3"], [3, "4"], [4, "5"], [5, "6"], [6, "7"], [7, "8"], [8, "9"], [9, "10"],
                                [10, "11"], [11, "12"], [12, "13"], [13, "14"], [14, "15"], [15, "16"], [16, "17"], [17, "18"], [18, "19"], [19, "20"],
                                [20, "21"], [21, "22"], [22, "23"], [23, "24"], [24, "25"], [25, "26"], [26, "27"], [27, "28"], [28, "29"], [29, "30"],
                                [30, "31"]] },
            yaxis: { min: 0 }
        };
            
        var host = "@(Model)";
        var selectedIndex = document.getElementById("RangeOptions").selectedIndex;
        var placeholder1 = $("#sessionStarts");
        var placeholder2 = $("#concurrentUsers");
        var data = [];
            
        var dataurl;
        var xmlhttp;
            
        $.plot(placeholder1, data, dayOptions);
        $.plot(placeholder2, data, dayOptions);
            
        setTimeout(fetchData, 0);
            
        function fetchData() {
            $.manageAjax.add('cacheQueue', {
                url: "../StatisticsService/QuerySessionActivity?host=" + host + "&rangeType=" + selectedIndex,
                type: 'POST',
                dataType: 'html',
                success: onDataReceived
            });            
                
            function onDataReceived(series) {
                if (series != "") {
                    var stats = series.split("|");
                        
                    switch (selectedIndex) {
                        default:
                        case 0:
                            $.plot(placeholder1, eval(stats[0]) , dayOptions);
                            $.plot(placeholder2, eval(stats[1]) , dayOptions);
                            break;
                                
                        case 1:
                            $.plot(placeholder1, eval(stats[0]) , weekOptions);
                            $.plot(placeholder2, eval(stats[1]) , weekOptions);
                            break;
                                
                        case 2:
                            $.plot(placeholder1, eval(stats[0]) , monthOptions);
                            $.plot(placeholder2, eval(stats[1]) , monthOptions);
                            break;
                    }

                    $("#uniqueUsers").html(stats[2]);
                    $("#averageSessionTime").html(stats[3] + " m");
                    $("#date").html(stats[4]);
                }
            }
        }
    }
</script>

<h2>@Resources.SessionHistory</h2>
<fieldset>
    <center>
        <table>
            <tr>
                <td>@Html.ActionLink(Resources.Prev, "StatisticsSessionGraph", "StatisticsService", new { host = Model, direction = -1 }, null)</td>
                <td><div id="date">@ViewBag.Date</div></td>
                <td>@Html.ActionLink(Resources.Next, "StatisticsSessionGraph", "StatisticsService", new { host = Model, direction = 1 }, null)</td>
            </tr>
            <tr>
                <td colspan="3">
                    @{
                        string[] rangeType = new string[] { "Day", "Week", "Month" };
                        IEnumerable<string> range = rangeType.AsEnumerable<string>();
                        int selectedIndex = (int)ViewBag.RangeType;
                        }
                    @Html.DropDownList("RangeOptions", new SelectList(range, rangeType[selectedIndex]), new { style = "background:white;color:black;", onchange = "OnRangeChange();" })
                </td>
            </tr>
        </table>
    </center>
    <br/>
    <table>
        <tr>
            <th colspan="2">@Resources.SessionStatistics</th>
        </tr>
        <tr>
            <td>@Resources.UniqueUsers</td>
            <td><div id="uniqueUsers">@ViewBag.UniqueUsers</div></td>
        </tr>
        <tr>
            <td>@Resources.AverageSessionTime</td>
            <td><div id="averageSessionTime">@ViewBag.AverageSessionTime m</div></td>
        </tr>
    </table>
    <br />
    <center>@Resources.NumberOfSessions</center>
    <center>
        <div id="sessionStarts" style="width:600px;height:300px;"></div>
    </center>
    <br /><br />
    <center>@Resources.ConcurrentUsers</center>
    <center>
        <div id="concurrentUsers" style="width:600px;height:300px;"></div>
    </center>
    <p>
        @Html.ActionLink(Resources.BackToLiveUserActivity, "Status", "Service", new { serviceName = "StatisticsServer", host = Model, customName = "StatisticsServer" }, null)
    </p>
</fieldset>
<p>
    @Html.ActionLink(Resources.BackToHome, "Index", "Network")
</p>