{% extends "base.html" %}

{% block title %}
Applications |
{% endblock %}

{% block content %}
<h1>Your apps:</h1>

{% for app in apps %}
<p class="appEntry">
	<a href="{% url 'ControlPanel.status' app_key=app.key %}" class="btn appStatus"><i class="icon-chevron-right"></i></a>
	<span class="appName">{{app.name}}</span>
	<span class="muted appId">(App&nbsp;ID:&nbsp;{{app.key}})</span>
</p>
{% empty %}
<p>You don't have any apps yet...<p>
{% endfor %}


<p>
<a href="{% url 'ControlPanel.create_app' %}" class="btn btn-primary createApp">Create a new app</a>
</p>


{% endblock %}

