{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
Create an app |
{% endblock %}

{% block content %}

<h1>Create a new application:</h1>

<form class="createApp" method="post">
	{% csrf_token %}
	{{ form|as_bootstrap }}
	<input type="submit" value="Create" class="btn btn-primary" />
</form>

{% endblock %}
