{% extends "base.html" %}

{% block title %}
App status |
{% endblock %}

{% block content %}

<p>
    <a href="#" class="btn deleteApp btn-danger pull-right" data-target="#deleteConfirm" data-toggle="modal">
        <i class="icon-remove icon-white"></i> Delete this app
    </a>
</p>
<h1>{{app.name}} - Active Sessions:</h1>
<div class="alert warning" style="display:none" id="graph-warning"></div>
<div class="graph-container" id="graph-live">
    Loading ...
</div>

<p class="muted centered">
    <small>
        Sessions are considered active until 10 minutes of inactivity. New sessions may take around one minute to appear.
    </small>
</p>

<hr />

<h2>Not configured yet?</h2>
<p>Use this application identifier in your application's initialization: <code>{{app.key}}</code></p>


<div id="deleteConfirm" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Really delete application "{{app.name}}"?</h3>
    </div>
    <div class="modal-body">
        <p>
            If you delete an application, clients using your Application ID will no longer be able
            to connect to the Badumna Network. Are you sure you want to proced?
        </p>
    </div>
    <div class="modal-footer">
        <form action="{% url 'ControlPanel.delete_app' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="key" value="{{app.key}}"/>
            <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <input type="submit" class="btn btn-danger" value="Delete"></input>
        </form>
    </div>
</div>

{% endblock %}

{% block end_includes %}

<script language="javascript" type="text/javascript" src="{{STATIC_URL}}flot/0.7-0/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}ControlPanel/app_status.js"></script>
<script>
  {% url 'ControlPanel.status.json' app.key as query_url %}
  initStatusGraphs("{{query_url|escapejs}}", {{STATISTICS_REFRESH_INTERVAL}}, {{STATISTICS_HISTORY_LENGTH}});
</script>
{% endblock %}
