﻿@using Germinator.Services;
@using BadumnaNetworkController;

@model RemoteServiceProcess

<script language="javascript" type="text/javascript" src="../../Scripts/flot/jquery.flot.js"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Scripts/flot/excanvas.min.js"></script><![endif]-->

<script id="source" language="javascript" type="text/javascript">
    $(function () {
        var options = {
            lines: { show: true },
            points: { show: true },
            xaxis: { minTickSize: [30, "second"],
                mode: "time",
                twelveHourClock: "true",
                timeformat: "%h:%M:%S %P"
            }
        };

        var serviceName = document.getElementById("service").innerHTML;
        var host = document.getElementById("host").innerHTML;

        var data = [];
        var xmlhttp;

        var placeholder = $("#" + serviceName);
        var dataurl;

        var isAdditionalPlaceholderSet = false;

        $.plot(placeholder, data, options); // draw an empty graph

        setTimeout(fetchData, 0);

        function addPlaceholder(serviceType) {
            // add additional place holder for overload and arbitration server status graph.
            if (serviceType == 'Overload') {
                var divElement = document.getElementById(serviceName + '-status');
                var title = document.createElement('center');
                title.innerHTML = serviceName + ' status';

                var divPlaceholder = document.createElement('div');
                divPlaceholder.setAttribute('id', serviceName + '_overload');
                divPlaceholder.setAttribute('style', 'width:600px;height:300px;');

                var graph = document.createElement('center');
                graph.appendChild(divPlaceholder);

                divElement.appendChild(title);
                divElement.appendChild(graph);
            }
            else if (serviceType == 'Arbitration') {
                var divElement = document.getElementById(serviceName + '-status');
                var title = document.createElement('center');
                title.innerHTML = serviceName + ' status';

                var divPlaceholder = document.createElement('div');
                divPlaceholder.setAttribute('id', serviceName + '_arbitration');
                divPlaceholder.setAttribute('style', 'width:600px;height:300px;');

                var graph = document.createElement('center');
                graph.appendChild(divPlaceholder);

                divElement.appendChild(title);
                divElement.appendChild(graph);
            }

            isAdditionalPlaceholderSet = true;
        }

        function fetchData() {
            $.manageAjax.add('cacheQueue', {
                url: '../TrafficStatus/FetchData?serviceName=' + serviceName + '&host=' + host,
                type: 'POST',
                dataType: 'json',
                success: onDataReceived
            });

            function onDataReceived(response) {
                var type = response.type;

                $.plot(placeholder, response.plot, options);

                if (!isAdditionalPlaceholderSet) {
                    addPlaceholder(type);
                }

                if (type == 'Overload') {
                    var placeholder2 = $("#" + serviceName + "_overload");
                    $.plot(placeholder2, response.plot2, options);
                }
                else if (type == 'Arbitration') {
                    var placeholder2 = $("#" + serviceName + "_arbitration");
                    $.plot(placeholder2, response.plot2, options);

                }
            }

            setTimeout(fetchData, 5000);
        }
    });
</script>

@{
    string customName = string.Format("{0}-status", Model.Process.Name);    
}

<div id="@customName">
    <label id="service">@Model.Process.Name</label>
    <label id="host">@Model.Germ.Name</label>
    <center> Total bytes sent and received per second </center>
    <center>
    <div id="@Model.Process.Name" style="width:600px;height:300px;"></div>
    </center>
    <br/>
</div>