﻿@using BadumnaNetworkController;

<script language="javascript" type="text/javascript" src="../../Scripts/flot/jquery.flot.js"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Scripts/flot/excanvas.min.js"></script><![endif]-->

<script id="source" language="javascript" type="text/javascript">
    $(function () {
        var options = {
            lines: { show: true },
            points: { show: true },
            xaxis: { minTickSize: [30, "second"], mode: "time", twelveHourClock: "true", timeformat: "%h:%M:%S %P" },
            yaxis: { min: 0 }
        };

        var host = "@(Model)";
        var placeholder = $("#graph");
        var data = [];

        var dataurl;
        var xmlhttp;

        $.plot(placeholder, data, options);

        setTimeout(fetchData, 0);

        function fetchData() {
            $.manageAjax.add('cacheQueue', {
                url: "../StatisticsService/QueryScenes?host=" + host,
                type: 'POST',
                dataType: 'html',
                success: onDataReceived
            });
            
            function onDataReceived(series) {
                if (series != "") {
                    var stats = series.split("|");
                    $.plot(placeholder, eval(stats[0]), options);
                    $("#numSessions").html(stats[1]);
                }
            }

            setTimeout(fetchData, 15000);
        }
    });
</script>

<div id="Statistics">
    <table>
        <tr>
            <th colspan="2">User Statistics</th>
        </tr>
        <tr>
            <td>Number of Current Sessions</td>
            <td>
                <div id="numSessions">0</div>
            </td>
        </tr>
    </table>
    <br/>
    <center>Live User Activity</center>
    <center>
        <div id="graph" style="width:600px;height:300px;"></div>
    </center>
    <p>
        @Html.ActionLink(Resources.ShowSessionHistory, "StatisticsSessionGraph", "StatisticsService", new {host = Model, direction = 0}, null)
    </p>
</div>