﻿@using Germinator.Services;
@using BadumnaNetworkController;

@model string
@{
    ViewBag.Title = Resources.Status;
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>
    Status of @Html.Encode(string.Format("{0} on {1}", ViewBag.CustomName, ViewBag.Host))
    (@Html.ActionLink(Resources.KillProcess, "StopService", "Network", new { serviceName = ViewBag.Service, germName = ViewBag.Host, redirectToHome = true }, null)|
    @Html.ActionLink(Resources.RestartService, "RestartService", "Network", new { serviceName = ViewBag.Service, germName = ViewBag.Host, redirectToHome = true }, null))
</h2>
    
<fieldset>
    <!-- HACK: find a better way to identify different type of status report -->
    <div>
        <table class="generalListTable">
            <tr>
                <th colspan="2">General:</th>
            </tr>
            </tr>
                <td>@Resources.TimeOfLastPing</td>
                <td>@Html.Encode(String.Format("{0:g}", ((RemoteServiceProcess)ViewBag.ProcessInfo).TimeOfLastPing))</td>
            </tr>
            <tr>
                <td>@Resources.PingResponse</td>
                <td>@(((RemoteServiceProcess)ViewBag.ProcessInfo).PingStatus)</td>
            </tr>
            @if (!string.IsNullOrEmpty(((RemoteServiceProcess)ViewBag.ProcessInfo).ErrorText))
            {
                <tr>
                    <td>@Resources.ErrorMessage</td>
                    <td>@((RemoteServiceProcess)ViewBag.ProcessInfo).ErrorText</td>
                </tr>
            }
        </table>
    </div>
    <br/>
    @if (Model != null && !Model.ToString().Contains("un-harnessed process") && Model.ToString().Contains("Status"))
    {
        @Html.RenderXML(Model.ToString(), Server.MapPath("/Content/PeerStatus.xslt"), null)
    }
    else if (Model != null && Model.ToString().Contains("un-harnessed process"))
    {
        @:<p>@Model.ToString()</p>
    }
    else if (Model != null && Model.ToString().Contains("Statistics"))
    {
        ViewDataDictionary data = new ViewDataDictionary(ViewBag.Host);
        Html.RenderPartial("StatisticsSceneGraph", data);
    }
    else if (ViewBag.Service.Equals("Dei"))
    {
        Html.RenderPartial("~/Views/Users/Index.cshtml");
    }
    
    @if (ViewBag.Process != null && !Model.ToString().Contains("Statistics"))
    {
        ViewDataDictionary data = new ViewDataDictionary(ViewData["Process"]);
        data["CustomName"] = ViewBag.CustomName;
        @:<p><br /><br />@{ Html.RenderPartial("SingleProcessGraphs", data); }</p>
    }     
</fieldset>
    
<p>
    @Html.ActionLink(Resources.BackToHome, "Index", "Network")
</p>