<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="dbProvider" value="MySql.Data.MySqlClient"/>
  </appSettings>

  <!-- Connection Strings -->
  <connectionStrings>
    <add name="MySql.Data.MySqlClient"
     connectionString="Server={{mysql_host}};Database={{mysql_stats_db}};Uid={{mysql_user}};Pwd={{mysql_pass}};"/>
  </connectionStrings>

  <!-- Data Providers -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="MySQL Data Provider"
           invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  
</configuration>
