﻿@using System.Xml;

@model string

@{
    ViewBag.Title = "Log";
}

<h2>Log <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Log','Overview');"/></h2>
<fieldset style="padding:20px 40px;">
    @Html.RenderXML(Model, Server.MapPath("/Content/Log.xslt"), null)
</fieldset>
