﻿@using BadumnaNetworkController

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/NonLoginLayout.cshtml";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
<p>
    @Html.ActionLink(Resources.Home,"Index","Home")
</p>