﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/NonLoginLayout.cshtml";
}

<h2>Login</h2>
<p>
    Please enter your username and password. 
</p>

@{
    @Html.ValidationSummary("Login was unsuccessful. Please correct the errors and try again.")

    using(Html.BeginForm())
    {
        <div>
            <fieldset>
                <legend>Account Information</legend>
                <p>
                    <label for="username">Username:</label>
                    @Html.TextBox("username")
                    @Html.ValidationMessage("username")
                </p>
                <p>
                    <label for="password">Password:</label>
                    @Html.Password("password")
                    @Html.ValidationMessage("password")
                </p>
                <p>
                    @Html.CheckBox("rememberMe", false, new {style = "display:none;" })
                </p>
                <p>
                    <input type="submit" value="Login" />
                </p>
            </fieldset>
        </div>
    }
}