﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/NonLoginLayout.cshtml";
}

<h2>Create a New Account</h2>
<p>
    Use the form below to create a new account. 
</p>
<p>
    Passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.
</p>

@{
    @Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.")
    
    using (Html.BeginForm())
    {
        <div>
            <fieldset>
                <legend>Account Information</legend>
                <p>
                    <label for="username">Username:</label>
                    @Html.TextBox("username") 
                    @Html.ValidationMessage("username") 
                </p>
                <p>
                    <label for="email">Email:</label>
                    @Html.TextBox("email") 
                    @Html.ValidationMessage("email") 
                </p>
                <p>
                    <label for="password">Password:</label>
                    @Html.Password("password") 
                    @Html.ValidationMessage("password") 
                </p>
                <p>
                    <label for="confirmPassword">Confirm password:</label>
                    @Html.Password("confirmPassword") 
                    @Html.ValidationMessage("confirmPassword") 
                </p>
                <p>
                    <label for="securityQuestion">Security Question:</label>
                    @Html.TextBox("securityQuestion") 
                    @Html.ValidationMessage("securityQuestion") 
                </p>
                <p>
                    <label for="securityAnswer">Security Answer:</label>
                    @Html.TextBox("securityAnswer") 
                    @Html.ValidationMessage("securityAnswer") 
                </p>
                <p>
                    <input type="submit" value="Register" />
                </p>
            </fieldset>
            <p>@Html.ActionLink("Back", "Index", "AdministrationTool")</p>
        </div>
    }
}