﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = Resources.AddGerm;
}

<h2>@Resources.AddGerm <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Germs','AddGerm');"/></h2>

@{
    @Html.ValidationSummary(Resources.ErrorSummary)
    
    using (Html.BeginForm())
    {
        <fieldset>
            <table>
                <tr>
                <td>
                    @Html.HelpLabel("Host", Resources.Host + " :")
                </td>
                <td>
                    @Html.TextBox("Host")
                    @Html.ValidationMessage("Host", "*")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HelpLabel("Port", Resources.Port + " :")
                </td>
                <td>
                    @Html.TextBox("Port")
                    @Html.ValidationMessage("Port", "*")
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    @Html.HelpLabel("IsUndercover", Resources.IsClandestine + " :")
                </td>
                <td>
                    @Html.CheckBox("IsUndercover", false)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value='@Resources.Submit' />
                </td>
            </tr>
            </table>
        </fieldset>
        <p>
            @Html.ActionLink(Resources.BackToHome, "Index", "Network")
        </p>
    }
}
