﻿@using Germinator;
@using BadumnaNetworkController;

@model GermClient
           
@{
    ViewBag.Title = Model.Name;
}

<script language="javascript" type="text/javascript" src="../../Scripts/flot/jquery.flot.js"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Scripts/flot/excanvas.min.js"></script><![endif]-->

<script language="javascript" type="text/javascript">
    $(function () {
        var options = {
            lines: { show: true },
            points: { show: true },
            xaxes: [{ minTickSize: [30, "second"],
                mode: "time",
                twelveHourClock: "true",
                timeformat: "%h:%M:%S %P"
            }],
            yaxes: [{ tickFormatter: function (v, axis) { return v.toFixed(axis.tickDecimals) + "%"; }, max: 100 },
                        { tickFormatter: function (v, axis) { return v.toFixed(axis.tickDecimals) + "Mb"; }, alignTicksWithAxis: 1, position: "right"}]
        };

        var options2 = {
            lines: { show: true },
            points: { show: true },
            xaxis: { minTickSize: [30, "second"],
                mode: "time",
                twelveHourClock: "true",
                timeformat: "%h:%M:%S %P"
            },
            yaxis: { tickFormatter: function (v, axis) { return v.toFixed(axis.tickDecimals) + "kB/s" } }
        };

        setTimeout(fetchData, 0);

        function fetchData() {
            $('#updateTag').show();
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("Processes", "Network", new { germName = Model.Name })',
                type: 'GET',
                success: function (response) { $('#lst').html(response) }
            });
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("MachineStatusDetails", new { name = Model.Name})',
                type: 'GET',
                success: function (response) { $('#stat').html(response) },
                complete: function () { $('#updateTag').hide(); }
            });

            var germName = '<%= Model.Name%>';

            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("GetMachineStatusData", new {name = Model.Name})',
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    var placeholder = $("#plot1");
                    $.plot(placeholder, response.plot, options);
                }
            });

            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("GetTrafficData", new {name = Model.Name})',
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    var placeholder = $("#plot2");
                    $.plot(placeholder, response.plot, options2);
                }
            });

            setTimeout(fetchData, 20000);
        }
    });
</script>

<h2>@Html.Encode(string.Format(Resources.ViewPropertiesFormat, Model.Name.ToLower())) <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Germs','Overview');"/></h2>
<fieldset>
    <!-- TODO: revise the style, shouldn't be hardcode it, try to use css style -->
    <div id='lst' style="line-height:1.6em; margin-bottom:10px; margin-left:11px">
        <img id='updateTag' src='/Content/wait16.gif' style='display: none;' alt='Updating ...' />
    </div> 
    <div id='stat' style="line-height:1.6em; margin-bottom:10px; margin-left:11px">
        <img id='updateTag2' src='/Content/wait16.gif' style='display: none;' alt='Updating ...' />
    </div>
        
    <div id='machineStatus'>
        <center> CPU load and Memory available</center>
        <center>
            <div id="plot1" style="width:600px;height:300px;"></div>
        </center>
    </div> 
    <br /> <br />
        <div id='trafficData'>
        <center> Total bytes sent and received per second.</center>
        <center>
            <div id="plot2" style="width:600px;height:300px;"></div>
        </center>
    </div>
</fieldset>
<p>
    @Html.ActionLink(Resources.BackToList, "Index", "Network")
</p>

