﻿@using BadumnaNetworkController.Models;

@model  RemoteMachineStatus

<div id='status'>
@if (Model != null)
{
    <table>
        <tr>
            <th colspan='2'> Current Machine Status </th>
        </tr>
        <tr>
            <td>CPU Load</td>
            <td>@Html.Encode(Model.CPULoad)</td>
        </tr>
        <tr>
            <td>Memory Available</td>
            <td>@Html.Encode(Model.MemoryAvailable)</td>
        </tr>
        <tr>
            <td>Total bytes sent per second</td>
            <td>@Html.Encode(Model.TotalBytesSent)</td>
        </tr>
        <tr>
            <td>Total bytes received per second</td>
            <td>@Html.Encode(Model.TotalBytesReceived)</td>
        </tr>
    </table>     
}
</div>