﻿@using BadumnaNetworkController.Models;
@using BadumnaNetworkController;

@model HelpItem

<div>
@if (Model != null)
{
    <h3>@Model.Title</h3>
    @Html.RenderHtml(Model.Text)
}
@if ((bool)ViewBag.Debug)
{   
    @Html.ActionLink(Resources.EditOverview, "AddItem", "Help", new { topic = ViewBag.Topic, item = ViewBag.ItemName }, new { })
}
</div>