﻿<script type="text/javascript">
    function changeLang(lang) {
        $.cookie('lang', lang);
        window.location.reload();
        return false;
    }
</script>

<div id="menucontainer">
    <ul id="menu">
        <li><a href="#" onclick="changeLang('en-US')">en</a> </li>
        <li><a href="#" onclick="changeLang('es-ES')">es</a> </li>
    </ul>
</div>