﻿@using BadumnaNetworkController;

@if (Request.IsAuthenticated)
{
    <text> 
        Welcome <b>@Html.Encode(@Html.ViewContext.HttpContext.User.Identity.Name)</b>!
        [@Html.ActionLink(Resources.Logout, "LogOff", "Account")]
        [@Html.ActionLink(Resources.ChangePassword, "ChangePassword", "Account")]
    </text>
}
else
{
    @:[@Html.ActionLink("Login", "LogOn", "Account")]
}
