﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/jquery/jquery-1.7.2.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery.cookie.js" type="text/javascript"></script>

    <script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="../../Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>
</head>
<body>
    <div id="logo">
		<h1>
			<img src="../../Content/images/control-center.png" alt="control-center.png" style="height:40px; float:left;"/>
			<img src="../../Content/images/Scalify_transparent_bg.png" alt="Scalify_transparent_bg.png" style="height:40px; float:right;"/>
		</h1>
    </div>
    <div id="page">        
        <div id="content">
            <div class="post">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2011 Scalify. All rights reserved.</p>
    </div>
</body>
</html>
