﻿@using Germinator;
@using BadumnaNetworkController.Controllers;
@using BadumnaNetworkController;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
    
    <link rel="SHORTCUT ICON" href="../../favicon.ico"  type="image/x-icon"/>
    <link rel="icon" href="../../favicon.ico" type="image/x-icon" />
    
    <script src="../../Scripts/jquery/jquery-1.4.4.js" type="text/javascript"></script>

    <script src="../../Scripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>

    <script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>

    <script src="../../Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>
    
    <script src="../../Scripts/jquery-impromptu/jquery-impromptu.3.1.min.js" type="text/javascript"></script>
    
    <script src="../../Scripts/jquery.ajaxmanager.js" type="text/javascript"></script>
    
    <script type="text/javascript" language="javascript">
        $(function () {
            $.manageAjax.create('cacheQueue', {
                queue: true,
                cacheResponse: false,
                abortOld: true,
                preventDoubbleRequests: true
            });
            GetStatus();

            PushNotification();

            function GetStatus() {
                $.manageAjax.add('cacheQueue', {
                    url: '@Url.Action("GetLog", "Home")',
                    type: 'POST',
                    dataType: 'html',
                    success: function (data) {
                        if (data != "") {
                            if (data == "location.reload(true)") {
                                location.reload(true);
                            }
                            else {
                                $('#logText').html(data);
                            }
                        }
                        window.setTimeout(GetStatus, 2000);
                    }
                });
            }

            function PushNotification() {
                $.manageAjax.add('cacheQueue', {
                    url: '@Url.Action("GetNotificationsCount","Notification")',
                    type: 'POST',
                    dataType: 'html',
                    success: function (response) {
                        $('#notificationCount').innerText = "Notification (" + response + ")";
                        window.setTimeout(PushNotification, 180000);
                    }
                });
            }
        });

        function showHelp(topicName, itemName, style) {
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("GetHelpItem", "Help")',
                data: { 'topicName': topicName, 'itemName': itemName },
                type: 'POST',
                dataType: 'html',
                success: function (response) {
                    $.prompt(response, { prefix: style });
                }
            });
        }

        function validateAlphanumeric(name) {
            if (name.match(/^[a-zA-Z0-9-_]*$/)) {
                return true;
            }

            return false;
        }
    </script>

    <script type="text/javascript" language="javascript">
        // Add the script for starting services in the main layout to utilize DRY principal in the javascript code.
        var applicationName;
        function StartApplication(index) {
            applicationName = index;
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("PrestartService", "Network")',
                data: { 'serviceName': index },
                type: 'POST',
                dataType: 'html',
                success: function (response) {
                    if (response != "") {
                        $.prompt(response, {
                            callback: PrestartApplicationCallback,
                            buttons: { Ok: true, Cancel: false }
                        });
                    }
                    else {
                        PrestartApplicationCallback(true);
                    }
                }
            });
        }

        function PrestartApplicationCallback(v) {
            if (v) {
                $.manageAjax.add('cacheQueue', {
                    url: '@Url.Action("GetGermList", "Component")',
                    data: { 'name': applicationName },
                    type: 'GET',
                    success: function (response) {
                        $.prompt(response, {
                            callback: StartApplicationCallback,
                            buttons: { Submit: 'submit' }
                        });
                    }
                });
            }
        }

        function StartApplicationCallback(v, m, f) {
            if (v == "submit") {
                if (f.GermList != null) {
                    if (f.CertificatePassphrase != null) {
                        $.manageAjax.add('cacheQueue', {
                            url: '@Url.Action("StartService", "Network")',
                            data: { 'serviceName': applicationName, 'germName': f.GermList, 'customName': f.ServiceName, 'passphrase': f.CertificatePassphrase },
                            type: 'GET',
                            success: function () { }
                        });
                    }
                    else {
                        $.manageAjax.add('cacheQueue', {
                            url: '@Url.Action("StartService", "Network")',
                            data: { 'serviceName': applicationName, 'germName': f.GermList, 'customName': f.ServiceName },
                            type: 'GET',
                            success: function () { }
                        });
                    }
                }
                else {
                    $.prompt("No germ selected or there is no germ available, cannot start the process");
                }
            }
        }
    </script>
</head>
<body>
    <div id="logo">
        <h1>
            <img src="../../Content/images/control-center.png" alt="control-center.png" style="height:40px; float:left;"/>
			<img src="../../Content/images/Scalify_transparent_bg.png" alt="Scalify_transparent_bg.png" style="height:40px; float:right;"/>
		</h1>
        <p style="float:left">@{Html.RenderPartial("LogOnUserControl");}</p>
    </div>
    <div id="header">
        <div id="menu">
            <ul>
            @{  string configurationName = (string)Session[HomeController.ConfigurationNameSessionKey];
                if (!string.IsNullOrEmpty(configurationName))
                {
                    <li>
                        @Html.ActionLink(configurationName, "Details", "Network", new { name = configurationName }, new {})
                    </li>
                }

                Configuration configuration = (Configuration)Session[HomeController.ConfigurationSessionKey];
                if(configuration != null)
                {
                    <li>
                        @Html.ActionLink(string.Format("{0} ({1})", Resources.Notification, configuration.GetNotifications().Count), "Index", "Notification", null, new { id = "notificationCount" }) 
                    </li>
                    <li>
                        @Html.ActionLink(Resources.CustomServiceBuilder, "Index", "PackageBuilder")
                    </li>                    
                    
                    if(Request.IsAuthenticated && Roles.IsUserInRole(RoleNames.Admin))
                    {
                        <li>
                            @Html.ActionLink(Resources.Admin, "Index", "AdministrationTool")
                        </li>
                    }
                }                
             }
            </ul>
        </div>
    </div>
    <div id="page">
        <div id="content">
            <div id="post">
            @{
                if (Request.IsAuthenticated && (Roles.IsUserInRole(RoleNames.Admin) || Roles.IsUserInRole(configurationName)))
                {
                    @RenderBody()
                    <div id="log"><div id="logText"></div></div>
                }
                else
                {
                    <p>Request authentication failed, you have no access to this ControlCenter.</p>                    
                }                
            }                
            </div>
        </div>
    </div>
    <div id="footer">
        <p>&copy; 2011 Scalify. All rights reserved.</p>
    </div>
</body>
</html>
