{% extends "layout.html" %}

{%- block pre_body %}{%- endblock %}
{%- block post_body %}{%- endblock %}

{%- block body %}
<div id="content" style="width: 970px;">
    <div class="left">
    	<img src="{{ pathto("_static",1) }}/collaborate.png" width="350" alt="Documentation" />
    </div>

    <div class="right">
		<div class="itemStore">
			<a href="{{ pathto("Manual/index") }}"><img src="{{ pathto("_static",1) }}/user-manual.png" width="220" align="left"/></a>
			<p class="store">
			Reference manual is your one stop resource for understanding Badumna Network Suite. 
			It gives a complete description of the capabilities of Badumna Network Suite and explains how to configure
			and setup an application using Badumna and customise it for your needs.
			</p>
			<div class="clear"></div>
			<div class="divider"></div>
		</div>
		
		<div class="itemStore">
			<a href="{{ pathto("Articles/index") }}"><img src="{{ pathto("_static",1) }}/technical-repository.png" width="220" align="left"/></a>
			<p class="store">
			A series of technical articles on Badumna. 
			The articles range from simple concepts such as understanding Badumna in 5 minutes to more advanced topics such as distributed validation.
			If you want to understand the internals of Badumna then this is the section to explore. 
			</p>
			<div class="clear"></div>
			<div class="divider"></div>
		</div>
		
		<div class="itemStore">
			<a href="http://www.scalify.com/badumna/api/net/{{ release }}/Index.html"><font color="#122312"><img src="{{ pathto("_static",1) }}/api-net.png" width="220" align="left"/></font></a> 
			<p class="store">
			Badumna API guide provides developers access to the complete set of API documentation. 
			If you are an advanced programmer and wish to use Badumna  then you will find the API documentation useful.
			Use this link if you are interested in the .NET/Mono version of Badumna. 
			</p>
			<div class="clear"></div>
			<div class="divider"></div>
		</div>
		
		<div class="itemStore">
			<a href="http://www.scalify.com/badumna/api/cpp/{{ release }}/index.html"><font color="#122312"><img src="{{ pathto("_static",1) }}/api-cpp.png" width="220" align="left"/></font></a> 
			<p class="store">
			This link points to the API documentation for the C++ interface of Badumna. 
			Use this link if you are developing your application in native C++ using BadumnaCpp package.
			</p>
			<div class="clear"></div>
			<div class="divider"></div>
		</div>				
	</div>
		
	<div class="clear"></div>
</div>
{%- endblock %}
