﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = "Edit Role";
}

<script language="javascript" type="text/javascript">
    function onPropertyChanged(role) {
        var cb = document.getElementById(role);
        $.ajax({
            url: '@Url.Action("SetRole")',
            data: { 'userName': '@ViewBag.Username', 'role': role, 'isSet': cb.checked },
            type: 'POST'
        });
    }
</script>

<h2>Edit Role</h2>

<fieldset>
    <p> Add "@ViewBag.Username" to roles:</p>
    <table>
        @{
            string currentRoles = string.Empty;
            foreach (string role in ViewBag.CurrentRoles as string[])
            {
                currentRoles += string.Format("({0})", role);    
            }
                
            foreach (string role in Model)
            { 
                bool isChecked = currentRoles.Contains(role);        
                <tr>
                    <td>
                        @Html.CheckBox(role, isChecked, new { onchange = string.Format("onPropertyChanged('{0}');", role) }) 
                    </td>
                    <td>
                        <label> @Html.Encode(role)</label>
                    </td>
                </tr>
            }   
        }            
    </table>
</fieldset>
    
<p>@Html.ActionLink(Resources.BackToList, "ManageUser")</p>