﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = "Administration Tool";
}

<h2>Administration Tool <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('AdministrationTool','Overview');"/></h2>
<fieldset>
<p>@Html.ActionLink(Resources.ManageUser, "ManageUser")</p>
<p>@Html.ActionLink(Resources.CreateUser, "Register", "Account")</p>
<p>@Html.ActionLink(Resources.ManageOrCreateRole, "ManageRole")</p>
<p>@Html.ActionLink(Resources.GermListenerSettings, "Edit", "Component", new { index = Germinator.Components.ClientListenerComponent.ComponentIndex }, new { })</p>
</fieldset>