﻿@using BadumnaNetworkController;

              
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" visible="false" />

<script language="javascript" type="text/javascript">
    function DeleteRole(roleName, userInRole) {
        if (userInRole > 0) {
            var txt = "<p>Are you sure want to delete '" + roleName + "' role, the role has one or more members on it?</p>";
            $.prompt(txt, {
                callback: DeleteRoleCallback,
                buttons: { Ok: roleName, Cancel: 'no' }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("DeleteRole")',
                data: { 'role': roleName },
                type: 'GET',
                success: function (response) {
                    $('#roles').html(response)
                }
            });
        }
    }

    function DeleteRoleCallback(v) {
        if (v != 'no') {
            $.ajax({
                url: '@Url.Action("DeleteRole")',
                data: { 'role': v },
                type: 'GET',
                success: function (response) {
                    $('#roles').html(response)
                }
            });
        }
    }
</script>


<table class="generalListTable" id="roles">
    <tr>
        <th>Role Name</th>
        <th>Add/Remove Users</th>
        <th></th>
    </tr>    
        @foreach (string role in Model as string[])
        {
            int numUserInRole = Roles.GetUsersInRole(role).Length;
            
            <tr>
                <td>@Html.Encode(role)</td>
                <td>
                    @Html.ActionLink(Resources.ManageRole, "ManageSingleRole", new { role = role })
                </td>
                <td>
                    @if (!role.Equals(RoleNames.Admin))
                    {
                        @:<a onclick="DeleteRole('@Html.Encode(role)','@numUserInRole');" style="cursor: pointer;">
                        @:<span style="text-decoration: underline">Delete</span></a>
                    }
                </td>
            </tr>
        }
</table>

