﻿@using System.Collections;
@using BadumnaNetworkController;

<div id='listOfUsers'>
    @{ 
        IEnumerator users = Model.GetEnumerator();    
    }
    <table>
        <tr>
            <th>User name</th>
            <th>E-mail</th>
            <th></th>
            <th></th>
        </tr>
        
        @while (users.MoveNext())
        {
            MembershipUser user = users.Current as MembershipUser;        
            <tr>
                <td>
                    @Html.Encode(user.UserName)
                </td>
                <td>
                    @Html.Encode(user.Email)
                </td>
                <td>
                    @if (!user.UserName.Equals("admin"))
                    {
                        @Ajax.ActionLink(
                            Resources.DeleteUser, 
                            "DeleteUser", 
                            new { userName = user.UserName },
                            new AjaxOptions { UpdateTargetId = "listOfUsers" })
                    }
                </td>
                <td>
                    @Html.ActionLink(Resources.EditRole, "EditRole", new { userName = user.UserName }, null)
                </td>
            </tr>        
        }
    </table>
</div>