﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = "Manage Role";
}

<h2>Manage Role</h2>
<fieldset>
    <table class='generalListTable'>
        <tr>
            <th colspan='2'>Create New Role</th>
        </tr>
        <tr>
            @Html.ValidationSummary("Role creation was unsuccessful. Please correct the errors and try again.")
            @using (Html.BeginForm())
            { 
                <td>
                    New role name:
                    @Html.TextBox("newRole")
                    @Html.ValidationMessage("newRole", "*") 
                    <input type="submit" value="Add Role" />
                </td>
            }
        </tr>
    </table>
    <br />
    @{Html.RenderPartial("ListOfRoles", (object)Model);}
</fieldset>
<p>@Html.ActionLink(Resources.Back, "Index")</p>