﻿@using System.Collections;
@using BadumnaNetworkController;

@{
    ViewBag.Title = "Manage Single Role";
}

<script language="javascript" type="text/javascript">
    function onPropertyChanged(username) {
        var cb = document.getElementById(username);
        $.ajax({
            url: '@Url.Action("SetRole")',
            data: { 'userName': username, 'role': '@ViewBag.Role', 'isSet': cb.checked },
            type: 'POST'
        });
    }
</script>

<h2>Manage @ViewBag.Role Role</h2>
<fieldset>
    <table>
        <tr>
            <th>User name</th>
            <th>User is in role</th>
        </tr>
        @{
            string usersInRole = string.Empty;
            foreach (string username in ViewData["UsersInRole"] as string[])
            {
                usersInRole += string.Format("({0})", username);
            }
            
            IEnumerator users = Model.GetEnumerator();
            while(users.MoveNext())
            {
                string username = (users.Current as MembershipUser).UserName;
                bool isChecked = usersInRole.Contains(username);
                <tr>
                    <td>@Html.Encode(username)</td>
                    <td>@Html.CheckBox(username, isChecked, new { onchange = string.Format("onPropertyChanged('{0}');", username) })</td>
                </tr>
            }
        }        
    </table>
</fieldset>
<p>@Html.ActionLink(Resources.Back, "ManageRole")</p>