﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = "Manage User";
}

<h2>Manage User</h2>
<fieldset>
    <p>The total registered users are @ViewBag.TotalUser. </p>
<p>
    @if(Model!=null)
    {
        Html.RenderPartial("ListOfUsers", (object)Model);
    }
</p>
<p>@Html.ActionLink(Resources.CreateUser, "Register", "Account")</p>
</fieldset>
    
<p>@Html.ActionLink(Resources.Back, "Index")</p>