﻿@using System.Collections;
@using BadumnaNetworkController;

@model IEnumerable<string>
@{
    ViewBag.Title = Resources.AddService;
}

<h2>@Resources.AddService<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('AddService','Overview');"/></h2>

@Html.ValidationSummary(Resources.ErrorSummary)
@using (Html.BeginForm())
{
    <fieldset>
        <table>
            <tr>
                <td><label for="Name">@Resources.ServiceName</label></td>
                <td>
                    @Html.TextBox("Name", null, new { style = "width:221px;" })
                    @Html.ValidationMessage("Name", "*")
                </td>
            </tr>
            <tr>
                <td><label for="Type">@Resources.ServiceType</label></td>
                <td>
                    @Html.DropDownList("Type", new SelectList(Model))
                    @Html.ValidationMessage("Type", "*")
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value='@Resources.Create' />
                </td>
            </tr>
        </table>
    </fieldset>
}

<p>
    @Html.ActionLink(Resources.Back, "Index", "PackageBuilder")
</p>