﻿@using BadumnaNetworkController.Models;

@model PrestoManifesto

<link href="../../Content/Site.css" rel="stylesheet" type="text/css" visible="false"/>
<link href="../../Scripts/jquery-treeview/jquery.treeview.css" rel="Stylesheet" type="text/css" />

<ul id="contentList" class="filetree treeview-famfamfam treeview">
@{
    string projectName = string.Format("{0} Project", Model.Name);
    <li>
        <span id="@Model.BaseDirectory" class="folder" title="Right click to add a file">@Html.Encode(projectName)</span>
	    <ul>
            @Html.RenderHtml(Model.TreeView)
        </ul>
	</li>   
}
</ul>