﻿@using BadumnaNetworkController.Models;
@using BadumnaNetworkController;

@model PrestoManifesto
@{
    ViewBag.Title = Resources.Details;
}

<script type="text/javascript" src="../../Scripts/jquery-treeview/jquery.treeview.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.contextmenu.r2.js"></script>
<script src="../../Scripts/ajaxupload.js" type="text/javascript"></script>

<script  type="text/javascript">
    function toogleView(itemName, appName, confName) {
        var updateForm = document.getElementsByName(itemName);
        if (updateForm != null && updateForm[0].style.display == 'none') {
            updateForm[0].style.display = 'inline';
        }
        else {
            updateForm[0].style.display = 'none';
        }
    }

    function addRow(tableID) {
        var table = document.getElementById(tableID);

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount - 2);

        var cell = row.insertCell(0);
        var element = document.createElement("input");
        element.type = "file";
        element.setAttribute("id", "ct100_MainContent_fileUpload" + (rowCount - 2));
        element.setAttribute("name", "ct100_MainContent_fileUpload" + (rowCount - 2));

        cell.appendChild(element);
    }

    function OnPropertyChange(selectedItem) {
        cb = document.getElementsByName(selectedItem);

        if (selectedItem == "UpdateType") {
            if (cb[0].checked) {
                $.manageAjax.add('cacheQueue', {
                    url: '@Html.Raw(Url.Action("UpdateType", new { applicationName = Model.Name, isSet = true }))',
                    type: 'POST'
                });
            }
            else {
                $.manageAjax.add('cacheQueue', {
                    url: '@Html.Raw(Url.Action("UpdateType", new { applicationName = Model.Name, isSet = false }))',
                    type: 'POST'
                });
            }
        }
        else if (selectedItem == "ExtractTools") {
            if (cb[0].checked) {
                $.manageAjax.add('cacheQueue', {
                    url: '@Html.Raw(Url.Action("IncludeExtractionTools", new { applicationName = Model.Name, isSet = true }))',
                    type: 'POST'
                });
            }
            else {
                $.manageAjax.add('cacheQueue', {
                    url: '@Html.Raw(Url.Action("IncludeExtractionTools", new { applicationName = Model.Name, isSet = false }))',
                    type: 'POST'
                });
            }
        }
    }

    function BuildDescription() {
        var executable = document.getElementById("Executable").innerHTML;
        if (executable == "") {
            $.prompt('Cannot build package because the executable has not been included');
        }
        else {
            var txt = 'Package Description: <br/> <textarea rows="10" cols="40" style="background-color:#ffffff;" id="description" name="description"/>';
            $.prompt(txt, {
                callback: BuildCallbackForm,
                buttons: { Submit: 'submit' }
            });
        }
    }

    function BuildCallbackForm(v, m, f) {
        if (v == "submit") {
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("Build", new { applicationName = Model.Name })',
                data: { 'description': f.description },
                type: 'POST',
                success: function () { $('#statusBorder').show(); GetStatus(); }
            });
        }
    }

    function Build() {
        var executable = document.getElementById("Executable").innerHTML;
        if (executable == "") {
            $.prompt('Cannot build package because the executable has not been included');
        }
        else {
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("Build", new { applicationName = Model.Name })',
                type: 'POST',
                success: function () { $('#statusBorder').show(); GetStatus(); }
            });
        }
    }

    function GetStatus() {
        $.manageAjax.add('cacheQueue', {
            url: '@Url.Action("GetCurrentDescription", new { applicationName = Model.Name })',
            type: 'GET',
            success: function (data) {
                var token = data.split(':');

                $('#statusFill').width(parseInt(token[0]));

                if (token[1] != "Complete" && token[1] != "No files require updating") {
                    $('#status').html(token[1]);
                    window.setTimeout("GetStatus()", 100);
                }
                else {
                    $('#status').html(token[1]);
                    $('#status').html("The build process has finished");

                    $('#statusFill').width(600);
                    AddServiceToControlCenter();
                    window.setTimeout("location.reload()", 15000);

                };
            }
        });
    }

    function AddServiceToControlCenter() {
        $.manageAjax.add('cacheQueue', {
            url: '@Url.Action("AddServiceToControlCenter", new { applicationName = Model.Name })',
            type: 'POST',
            success: function () { $('#status').html("Service successfully added to control center"); }
        });
    }               
    </script>
    
    <script type="text/javascript" language="javascript">
        var applicationName;
        var configuration;
        var directoryName;

        $(document).ready(function () {
            $("#contentList").treeview({ collapsed: true });
            InitContextMenu();
            applicationName = document.getElementById("applicationName").innerHTML.split(' ')[0];
            configuration = '@(ViewBag.confName)';
        });

        function RemoveFile(fullPath) {
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("RemoveFile")',
                data: { 'applicationName': applicationName, 'fullPath': fullPath },
                type: 'GET',
                success: function (response) {
                    if (response.indexOf("Error") != -1) {
                        $.prompt(response);
                    }
                    else {
                        $('#ContentView').html(response);
                        $("#contentList").treeview();
                        InitContextMenu();
                    }
                }
            });
        }

        function SetExecutableFile(fullPath) {
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("SetExecutableFile")',
                data: { 'applicationName': applicationName, 'fullPath': fullPath },
                type: 'GET',
                success: function (response) {
                    if (response.indexOf("Error") != -1) {
                        $.prompt(response);
                    }
                    else {
                        $('#Executable').html(response);
                    }
                }
            });
        }

        function UploadFile(fullPath, directory, type) {
            var txt;

            directoryName = fullPath;

            if (directory != "" && type == "folder") {
                txt = "<p>Upload a file in " + directory + " directory</p>" +
                        "<a href='#' id='button2'>Select File</a>";
            }
            else if (directory != "" && type == "file") {
                txt = "<p>Error: Please select a directory not a file.</p>";
                $.prompt(txt);
                return;
            }

            $.prompt(txt, {
                callback: UploadProjectCallback,
                loaded: UploadLoaded,
                buttons: { Cancel: false, Ok: true }
            });
        }


        function UploadLoaded() {
            new AjaxUpload('button2', {
                action: 'AddFile',
                data: {
                    'name': applicationName,
                    'config': configuration,
                    'directory': directoryName
                },
                onSubmit: function (file, ext) {
                    $('#button2').text('Uploading ' + file);
                },
                onComplete: function (file, response) {
                    $('#button2').text('Uploaded ' + file);
                }
            });
        }

        function UploadProjectFile(fullPath) {
            var txt = "<p>Upload project (.zip) file to " + applicationName + "</p>" +
                      "<a href='#' id='button1'>Select Project File</a>" +
                      "<p id='uploadText'></p>";
            $.prompt(txt, {
                callback: UploadProjectCallback,
                loaded: UploadProjectLoaded,
                buttons: { Cancel: false, Ok: true }
            });
        }

        function UploadProjectLoaded() {
            new AjaxUpload('button1', {
                action: 'Upload',
                data: {
                    'name': applicationName,
                    'config': configuration
                },
                onSubmit: function (file, ext) {
                    if (!(ext && /^(zip)$/i.test(ext))) {
                        // extension is not allowed
                        $('#uploadText').text('Error: invalid file extension');
                        return false;
                    }
                    else {
                        $('#uploadText').text('Uploading ' + file);
                        this.disable();
                    }
                },
                onComplete: function (file, response) {
                    $('#uploadText').text('Uploaded ' + file);
                }
            });
        }

        function UploadProjectCallback(v, m, f) {
            location.reload(true);
        }

        function InitContextMenu() {
            $('li span').contextMenu('divContext', {
                menuStyle: {
                    width: '150px'
                },
                itemStyle: {
                    'line-height': '16px'
                },
                onShowMenu: function (event, menu) {
                    var targetName = $(event.target).attr('innerHTML');
                    var className = $(event.target).attr('className');

                    if (className == "file") {
                        $('#add, #addProject', menu).remove();
                    }
                    else {
                        if (targetName != (applicationName + " Project")) {
                            // means the is not a base directory.
                            $('#addProject, #executable, #delete', menu).remove();
                        }
                        else {
                            $('#executable, #delete', menu).remove();
                        }
                    }
                    return menu;
                },
                bindings: {
                    'executable': function (target) {
                        SetExecutableFile(target.id);
                    },
                    'delete': function (target) {
                        RemoveFile(target.id);
                    },
                    'add': function (target) {
                        UploadFile(target.id, target.innerHTML, target.className);
                    },
                    'addProject': function (target) {
                        UploadProjectFile(target.id);
                    }
                }
            })
        }
</script>

<h2 id="applicationName">@Html.Encode(Model.Name) <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('ApplicationDetails','Overview', 'jqiwide');"/></h2>
<fieldset>
<table class="generalListTable">
    <tr>
        <td>@Resources.ApplicationName:</td>
        <td>@Html.Encode(Model.Name)</td>
    </tr>
    <tr>
        <td>@Resources.PackageVersion:</td>
        <td>@Html.Encode(Model.PackageVersion)</td>
    </tr>
    <tr>
        <td>@Resources.ExecutableFile:</td>
        <td id="Executable">@Html.Encode(Model.Executable)</td>
    </tr>
    <tr>
        <td>Options:</td>
        <td>
        @if (Model.CompleteUpdate)
        {        
            @:<input type="checkbox" name="UpdateType" checked="checked" onchange="OnPropertyChange('UpdateType');"/> Include all contents
        }
        else
        {
            @:<input type="checkbox" name="UpdateType" onchange="OnPropertyChange('UpdateType');"/> Include all contents
        }
        
        @if (Model.IncludeExtractionTools)
        {
            @:<input type="checkbox" name="ExtractTools" checked="checked" onchange="OnPropertyChange('ExtractTools');"/> Include package extraction tools 
        }
        else
        {
            @:<input type="checkbox" name="ExtractTools" onchange="OnPropertyChange('ExtractTools');"/> Include package extraction tools 
        }
        </td>
    </tr>
    <tr>
        <td colspan='3'>Package contents:</td>
    </tr>
    <tr>
        <td colspan='3'><div id="ContentView">@{ Html.RenderPartial("ContentView", Model); }</div></td>
    </tr>
    <tr>
        <td><input type="button" value="Build" onclick="BuildDescription();" /></td>
        <td colspan='2'>
            <div id="statusBorder">
                <div id="status"></div>
                <div id="statusFill"></div>
                <div id="statusBackground"></div>
            </div>
        </td>
    </tr>
</table>
</fieldset>
<p>
    @Html.ActionLink(Resources.Back, "Index")
</p>
    
<div class="contextMenu" id="divContext">
    <ul>
        <li id="executable">Set as executable file</li>
        <li id="delete"><img src="../../Scripts/jquery-treeview/images/cross.png" alt="cross.png"/>Delete file</li>
        <li id="add">Add file</li>
        <li id="addProject">Add project (.zip) file</li>
    </ul>
</div>