﻿@using System.Collections;
@using Germinator.PrestoManifesto;
@using BadumnaNetworkController;

@model IEnumerable<PackageData>
@{
    ViewBag.Title = Resources.PackageBuilder;
}

<h2>@Resources.CustomServiceBuilder<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('PackageBuilder','Overview');"/></h2>
<fieldset>
    <legend>Applications</legend>
    @if (Model != null)
     {
        Html.RenderPartial("List", Model);
     }
</fieldset>
