﻿@using System.Collections;
@using Germinator.PrestoManifesto;
@using BadumnaNetworkController;

@model IEnumerable<PackageData>

<div id="list">
    <table class="generalListTable">
        <tr>
            <th colspan='2'>
                @Resources.ApplicationName:
            </th>
        </tr>
            @if (Model != null && Model.Count<PackageData>() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Encode(item.Name)
                        </td>
                        <td align='center'>
                            @Html.ActionLink(Resources.Change, "Details", new { name = item.Name })|
                            @Ajax.ActionLink(
                                Resources.Remove, 
                                "Remove", 
                                new { name = item.Name },
                                new AjaxOptions(){ UpdateTargetId = "list" })
                        </td>
                    </tr>
                }
            }
        <tr>
            <td colspan='2'>
                @Html.ActionLink(Resources.AddService, "AddService", "PackageBuilder")
            </td>
        </tr>   
    </table>
</div>