{% extends "base.html" %}

{% block content %}
<h1>Invalid activation key</h1>

<p>
Check that you're visiting the full link we sent you via email, and that it hasn't been
broken into multiple lines by your email client.
</p>
{% endblock %}

