{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
Log in |
{% endblock %}

{% block content %}
<h1>Log in:</h1>

<form class="login" action="{% url 'login' %}" method="post">
	{% csrf_token %}
	{{ form | as_bootstrap }}
	<input type="submit" value="Log in" class="btn btn-primary" />
</form>

<p><a class="forgotPassword" href="{% url 'password_reset' %}">Forgot your password?</a></p>
{% endblock %}

