{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
Reset password |
{% endblock %}

{% block content %}
<h1>Reset your password:</h1>

<form class="resetPassword" action="" method="post">
	{% csrf_token %}
	{{ form.as_bootstrap }}
	{% for field in form %}
		{% include "bootstrap/field.html" %}
	{% endfor %}
	<input class="btn btn-primary" type="submit" value="Save password" />
</form>
{% endblock %}

