{% extends "base.html" %}
{% block content %}

{% block title %}
Change password |
{% endblock %}


<h1>Password reset successful</h1>

<p>
	We've emailed you instructions for setting your password to the email address you submitted.
	You should receive it shortly.
</p>

{% endblock %}

