{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
Reset password |
{% endblock %}

{% block content %}
<h1>Reset your password:</h1>

<p>Forgotten your password? Enter your email address below,
and we'll email instructions for setting a new one.</p>

<hr />
<form class="forgotPassword" action="" method="post">
	{% csrf_token %}
	{{ form.as_bootstrap }}
	{% for field in form %}
		{% include "bootstrap/field.html" %}
	{% endfor %}
	<input class="btn btn-primary" type="submit" value="Reset my password" />
</form>
{% endblock %}

