{% extends "base.html" %}
{% block title %}
Reset password |
{% endblock %}


{% block content %}

<h1>Password reset complete</h1>

<p>
Your password has been reset. You may go ahead and <a href="{% url 'login' %}">log in now</a>.
</p>

{% endblock %}

