{% extends "base.html" %}
{% block title %}
Sign up |
{% endblock %}

{% block content %}
<H1>Hold tight!</h1>
<p>We've sent you an activation email, click the link inside it to get started...</p>
{% endblock %}

