{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
Sign up |
{% endblock %}

{% block content %}
<h1>Sign up:</h1>


<form class="signup" action="{% url 'registration_register' %}" method="post">
	{% csrf_token %}
	{{ form|as_bootstrap }}
	<input type="submit" value="Sign up" class="btn btn-primary" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

