﻿@using Germinator.Notification;
@using BadumnaNetworkController;

@model Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details notification of <%= Model.ServiceName %></h2>
    
<fieldset>
    <legend>@Model.ServiceName</legend>
    <table class="generalListTable">
        <tr>
            <td style="font-weight:bold;"> Time </td>
            <td> @Model.Time </td>
        </tr>
        <tr>
            <td style="font-weight:bold;"> Process Id </td>
            <td> @Model.ProcessId </td>
        </tr>
        <tr>
            <td style="font-weight:bold;"> Germ </td>
            <td> @Model.GermName </td>
        </tr>
        <tr>
            <td style="font-weight:bold;"> Type </td>
            <td> @Model.TypeOfNotification.ToString() </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight:bold; border-bottom-style:none;">Error Message : </td>
        </tr>
        <tr>
            <td colspan="2" class="error_message" style="border-top-style:none;">
                @Model.ErrorMessage
            </td>
        </tr>
        <tr>
            <td colspan="2">@Html.ActionLink(Resources.Remove, "Delete", new { time = Model.Time, processId = Model.ProcessId})</td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
