﻿@using System.Collections;
@using Germinator.Notification;
@using BadumnaNetworkController;

@model IEnumerable<Notification>
@{
    ViewBag.Title = Resources.Notification;
}

<h2>@Resources.Notification<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Notification','Overview');"/></h2>
<p> 
    Setup the @Html.ActionLink(Resources.NotificationEmail, "SetupEmailNotification")
    @if ((bool)ViewBag.EmailNotificationEnabled)
    {
        @:(currently the notification via e-mail is enabled) 
    }
    else
    {
        @:(currently the notification via e-mail is disabled)
    }
</p>
<fieldset>
    <legend>
        @Resources.NotificationTable
    </legend>
    @{ 
        int count = (int)ViewData["Count"];
        if (count > 0)
        {
            <table class="generalListTable">
                <tr style="font-weight:bold;">
                    <th>Time</th>
                    <th>Service Name / Germ</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
                             
            @foreach (var item in Model.Reverse())
            {
                
                <tr>
                    <td align="center">@Html.Encode(item.Time)</td>
                    <td>
                        @Html.Encode(item.ServiceName) - @Html.Encode(item.GermName)
                    </td>
                    <td>
                        @Html.Encode(item.TypeOfNotification)    
                    </td>
                
                    @{ string fontColor = "black";
                       if (item.Priority.Equals(PriorityLevel.High))
                       {
                           fontColor = "red";
                       }
                       else if (item.Priority.Equals(PriorityLevel.Medium))
                       {
                           fontColor = "orange";
                       }
                       else
                       {
                           fontColor = "green";
                       }
                    }
                    <td style="color:@(fontColor);">
                        @Html.Encode(item.Priority.ToString())    
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Details, "Details", new { time = item.Time, processId = item.ProcessId })|
                        @Html.ActionLink(Resources.Remove, "Delete", new { time = item.Time, processId = item.ProcessId })
                    </td>
                </tr>
            }
                <tr>
                    <td colspan="7">
                        <a href='@Url.Action("ClearNotification")'><input type="button" value="Clear" /></a>
                    </td>
                </tr>
            </table>
        } 
    }
</fieldset>
