﻿@using Germinator.Notification;
@using BadumnaNetworkController;

@model EmailNotificationView
@{
    ViewBag.Title = Resources.SetupEmailNotification;
}

<h2>@Resources.SetupEmailNotification <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('SetupEmailNotification','Overview');"/></h2>

@using (Html.BeginForm("SetupEmailNotification", "Notification", FormMethod.Post))
{
    <fieldset>
        <legend>@Resources.EmailDetailsInformation</legend>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <label>@Html.Encode(item.Name)</label>
                    </td>
                    <td>
                        @switch (item.Type)
                        {
                            case Germinator.Notification.PropertyType.String: 
                                @Html.TextBox(item.Index, item.Value)
                                break;

                            case Germinator.Notification.PropertyType.Int: 
                                @Html.TextBox(item.Index, item.Value)
                                break;

                            case Germinator.Notification.PropertyType.Bool: 
                                @Html.CheckBox(item.Index, (bool)item.Value)
                                break;

                            case Germinator.Notification.PropertyType.Password: 
                                @Html.Password(item.Index, item.Value)
                                break;
                        }
                    </td>
                </tr>
            } 
                <tr>
                    <td>
                        <input type="submit" value="@Resources.Submit " />
                        <input type="button" value="Cancel" onclick="window.location='@Url.Action("Index","Notification")'"/>
                    </td>
                    <td></td>
                </tr>
        </table>
    </fieldset>
}