﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body {
	margin-top: 25px;
	padding: 0;
	/*background: #000000 url(images/img01.gif) repeat-x center top;*/
	background: url(images/bodyBg.png) repeat-x #E5E5E5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
/*	color: #000000; */
/*	border: 3px solid #000000;
	border-radius: 15px; */
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #2b2b2b;
}

h1 { font-size: 44px; }

h2 { 
    text-decoration: none;
	text-transform: capitalize;
	font-size: 24px;
	color: #000000; 
}

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote {}

a { color: #0205ff; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 1040px;
	height: 46px;
	margin: 0 auto;
	padding: 0px 10px;
	background:url(images/bg.png) repeat-y center;
	border-left: 3px solid #262626;
	border-right: 3px solid #262626;
}

/* TAB MENU   
----------------------------------------------------------*/

#menu {
	float: left;
	width: 800px;
	height: 46px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	margin: 5px 10px;
	float: left;
	border: 1.5px solid #000000;
	border-radius: 15px;
	background: #aaaaaa;
	
	-moz-box-shadow: 0px 0px 8px #2b2b2b;
    -webkit-box-shadow: 0px 0px 8px #2b2b2b;
    box-shadow: 0px 0px 8px #2b2b2b;
}

#menu a {
	float: left;
	height: 30px;
	padding: 14px 20px 0px 20px; 
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

#menu li:hover  
{
	border: 2px solid #000000;
	background: #dddddd;
	/*float: left;
	border: 0px solid #000000;
	border-radius: 15px; 
	text-decoration: none;
	color: #000000;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;*/
}

#menu .current_page_item a {
	background: #262626;
}

#menu .first {
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 30px 0px 30px;
	background:url(images/bg.png) repeat-y center;
	overflow:auto;
	border-left: 3px solid #262626;
	border-right: 3px solid #262626;
}

/* LOGO 
-----------------------------------------------------------*/

#logo {
	width: 1040px;
	height: 80px; /* 94 px */
	margin: 0 auto;
	padding: 0px 10px;
	background:url(images/topBg.png) repeat-y top;
	border-top: 3px solid #262626;
	border-left: 3px solid #262626;
	border-right: 3px solid #262626;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: none;
	font-weight: normal;
	color: #000000;
}

#logo p {
	margin-top: 2px;
	text-transform: lowercase;
	text-align:right;
	padding-left: 10px;
	font-size: 13px;
	color: #101010;
	float: left;
}

#logo h1 {
	padding-top: 10px;
	padding-left: 5px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #1155ff;
}

#logo h1 a {
	text-decoration: none;
	color: #777777;
}


#banner {
	padding-bottom: 20px;
}


/* Content */

#content {
	/*float: left;
	width: 610px;*/
}

#content h3
{
	height: 30px;
	padding: 6px 0 2px 0;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

/* Post */

.post {
	margin-bottom: 45px;
}

.post .title {
	height: 44px;
	color: #ffffff;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #0000ff;
}

.post .date {
}

.post .meta {
	height: 32px;
	margin-top: -10px;
	margin-left: 2px;
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #000000;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	border-top: 1px solid #2B2B2B;
	padding: 10px 0px;
}

.post .links {
/*	background: url(images/bodyBg.png) repeat-x scroll 0 0 #ffffff;*/
/*	border: 1px solid #5F817E; */
}

.post .links {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px 0px 4px 0px; 
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #0000ff;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #244345;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 370px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 0px;
}

#sidebar li li {
	margin: 0;
	padding: 10px 0px;
	background: url(images/img03.gif) no-repeat left 16px;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	font-weight: normal;
}

#sidebar li li a:hover {
	color: #EB5716;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h3 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 14px;
	line-height: 200%;
}

/* Footer */

#footer {
	width: 1060px;
	height: 60px;
	margin: 0 auto;
	padding: 0;
/*	border-top: 1px solid #2B2B2B; */
	background:url(images/footerBg.png) bottom repeat-x;
	border-left: 3px solid #262626;
	border-right: 3px solid #262626;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color:#c5c5c5;
}
#footer .logo {
width:238px;
height:50px;
background:url(images/logoFooter.png) no-repeat;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: right;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	background:url(images/logoFooter.png) no-repeat 5% 0%;
}

#footer a {
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em 4em;
    /*border: 1px solid #2B2B2B; */
    border: 1px solid #808080;
}

fieldset legend
{
	padding: 0 0 0 0;
	color:#565656;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #2B2B2B;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #2B2B2B;
}

input[type="submit"] 
{
    width: auto;
    padding: 5px 10px;
    background: #2b2b2b;
    border: 1px solid #2B2B2B;
    border-radius: 10px;
    color: #ffffff;
    -moz-box-shadow: 0px 0px 5px #0000ff;
    -webkit-box-shadow: 0px 0px 5px #0000ff;
    box-shadow: 0px 0px 5px #0000ff;
}

input[type="reset"] 
{
    width: auto;
    padding: 5px 10px;
    background: #2b2b2b;
    border: 1px solid #2B2B2B;
    border-radius: 10px;
    color: #ffffff;
    -moz-box-shadow: 0px 0px 5px #0000ff;
    -webkit-box-shadow: 0px 0px 5px #0000ff;
    box-shadow: 0px 0px 5px #0000ff;
}

input[type="button"] 
{
    width: auto;
    padding: 5px 10px;
    background: #2b2b2b;
    border: 1px solid #2B2B2B;
    border-radius: 10px;
    color: #ffffff;
    -moz-box-shadow: 0px 0px 5px #0000ff;
    -webkit-box-shadow: 0px 0px 5px #0000ff;
    box-shadow: 0px 0px 5px #0000ff;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #2B2B2B;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #2B2B2B;
}

table td a
{
  color: #0000cc;
}

table td.error_message
{
  padding : 5px;
  border: solid 1px #2B2B2B;
  line-height : 20px;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background: url(images/bg.png) repeat-y scroll 0 0 #E5E5E5;
  border: solid 1px #2B2B2B;   
}

/* TABLE FOR LIST OF COMPONENTS
----------------------------------------------------------*/
table.generalListTable
{
	border: solid 1px #2B2B2B;
	border-collapse: collapse;
	width: 900px;
}

/* MISC  
----------------------------------------------------------*/


.helpContent
{
    padding: 0px 20px 15px 20px;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */	
}


.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #999999;
    color: #ffffff;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

input
{
	background-color:#efefef;
	border: 1px solid #000000;
	color:#000000;
}

select
{
	width:222px;
	background-color:#efefef;
	border: 1px solid #000000;
	color:#000000;
}

label
{
	line-height:20px;
}


/* STYLE FOR PRESTOMANIFESTO BUILD PROGRESS BAR
---------------------------------------------------------
*/

#statusBorder
{
    position:relative;
    height:30px;
    width:600px;
    border:none;
    /*display:none;*/
}
 
#statusFill
{
	position:absolute;
    top:20px;
    left:0;
    width:0;
    background-color:#EB5716;
    border:solid 1px gray;
    height:10px;
}

#statusBackground
{
	position:absolute;
    top:20px;
    left:0;
    width:600px;
    border:solid 1px gray;
    height:10px;
}

#log
{
	position:relative;
    height: 35px;
    border: solid 1px gray;
    color:#EB0011;
}

#logText
{
	position:absolute;
	height:25px;
    color:#EB0011;
    vertical-align:middle;
    display:table-cell;
	left:5px;
	top:7.5px;
}

.redText
{
	color:Red;
}

.greenText
{
	color:Green;
}

.yellowText
{
	color:Yellow;
}

.normalText
{
	color:#8A8A8A;
}


/* STYLE FOR PRESTOMANIFESTO CONTEXT MENU
---------------------------------------------------------
*/
.contextMenu {} 

/*
------------------------------
	Impromptu's
------------------------------
*/
.jqifade{
	position: absolute; 
	background-color: #aaaaaa; 
}
div.jqi{ 
	width: 400px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute; 
	background-color: #e5e5e5; 
	font-size: 11px; 
	text-align: left; 
	border: solid 2px #2b2b2b;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 5px #0000ff;
    -webkit-box-shadow: 0px 0px 5px #0000ff;
    box-shadow: 0px 0px 5px #0000ff;
	padding: 7px;
}
div.jqi .jqicontainer{ 
	font-weight: normal; 
}
div.jqi .jqiclose{ 
	position: absolute;
	top: 4px; right: -2px; 
	width: 18px; 
	cursor: default; 
	color: #bbbbbb; 
	font-weight: bold; 
}
div.jqi .jqimessage{ 
	padding: 10px; 
	line-height: 20px; 
	color: #2b2b2b;
}
div.jqi .jqibuttons{ 
	text-align: right; 
	padding: 5px 0 5px 0; 
	border: solid 1px #eeeeee; 
	background-color: #f4f4f4;
}
div.jqi button{ 
	padding: 3px 10px; 
	margin: 0 10px; 
	background-color: #2b2b2b; 
	border: solid 2px #2b2b2b;
	border-radius: 10px;
    -moz-box-shadow: 0px 0px 7px #0000ff;
    -webkit-box-shadow: 0px 0px 7px #0000ff;
    box-shadow: 0px 0px 7px #0000ff;
	color: #ffffff; 
	font-weight: bold; 
	font-size: 12px; 
}
div.jqi button:hover{ 
	background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{ 
	/*background-color: #8DC05B;*/
	background-color: #2b2b2b;
}
.jqiwarning .jqi .jqibuttons{ 
	background-color: #BF5E26;
}

/*
------------------------------
	impromptu
------------------------------
*/
.impromptuwarning .impromptu{ background-color: #aaaaaa; }
.impromptufade{
	position: absolute;
	background-color: #ffffff;
}
div.impromptu{
    position: absolute;
	background-color: #cccccc;
	padding: 10px; 
	width: 300px;
	text-align: left;
}
div.impromptu .impromptuclose{
    float: right;
    margin: -35px -10px 0 0;
    cursor: pointer;
    color: #213e80;
}
div.impromptu .impromptucontainer{
	background-color: #213e80;
	padding: 5px; 
	color: #ffffff;
	font-weight: bold;
}
div.impromptu .impromptumessage{
	background-color: #415ea0;
	padding: 10px;
}
div.impromptu .impromptubuttons{
	text-align: center;
	padding: 5px 0 0 0;
}
div.impromptu button{
	padding: 3px 10px 3px 10px;
	margin: 0 10px;
}

/*
------------------------------
	jqiwide
------------------------------
*/
div.jqiwide{ 
	width: 800px; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute; 
	background-color: #e5e5e5; 
	font-size: 11px; 
	text-align: left; 
	border: solid 2px #2b2b2b;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 5px #0000ff;
    -webkit-box-shadow: 0px 0px 5px #0000ff;
    box-shadow: 0px 0px 5px #0000ff;
	padding: 7px;
}
div.jqiwide .jqiwidecontainer{ 
	font-weight: normal; 
}
div.jqiwide .jqiwideclose{ 
	position: absolute;
	top: 4px; right: -2px; 
	width: 18px; 
	cursor: default; 
	color: #bbbbbb; 
	font-weight: bold; 
}
div.jqiwide .jqiwidemessage{ 
	padding: 10px; 
	line-height: 20px; 
	color: #2b2b2b;
}
div.jqiwide .jqiwidebuttons{ 
	text-align: right; 
	padding: 5px 0 5px 0; 
	border: solid 1px #eeeeee; 
	background-color: #f4f4f4;
}
div.jqiwide button{ 
	padding: 3px 10px; 
	margin: 0 10px; 
	background-color: #2b2b2b; 
	border: solid 2px #2b2b2b;
	border-radius: 10px;
    -moz-box-shadow: 0px 0px 7px #0000ff;
    -webkit-box-shadow: 0px 0px 7px #0000ff;
    box-shadow: 0px 0px 7px #0000ff; 
	color: #ffffff; 
	font-weight: bold; 
	font-size: 12px; 
}
div.jqiwide button:hover{ 
	background-color: #728A8C;
}
div.jqiwide button.jqiwidedefaultbutton{ 
	/*background-color: #8DC05B;*/
	background-color: #2b2b2b;
}

/*
------------------------------
	columns ex
------------------------------
*/
.colsJqifadewarning .colsJqi{ background-color: #b0be96; }
.colsJqifade{
	position: absolute;
	background-color: #ffffff;
}
div.colsJqi{
    position: absolute;
	background-color: #d0dEb6;
	padding: 10px; 
	width: 400px;
	text-align: left;
}
div.colsJqi .colsJqiclose{
    float: right;
    margin: -35px -10px 0 0;
    cursor: pointer;
    color: #bbbbbb;
}
div.colsJqi .colsJqicontainer{
	background-color: #e0eEc6;
	padding: 5px; 
	color: #ffffff;
	font-weight: bold;
	height: 160px;
}
div.colsJqi .colsJqimessage{
	background-color: #c0cEa6;
	padding: 10px;
	width: 280px;
	height: 140px;
	float: left;
}
div.colsJqi .jqibuttons{
	text-align: center;
	padding: 5px 0 0 0;
}
div.colsJqi button{
	background: url(../images/button_bg.jpg) top left repeat-x #ffffff;
	border: solid #777777 1px;
	font-size: 12px;
	padding: 3px 10px 3px 10px;
	margin: 5px 5px 5px 10px;
	width: 75px;
}
div.colsJqi button:hover{
	border: solid #aaaaaa 1px;
}

/*
------------------------------
	brown theme
------------------------------
*/
.brownJqiwarning .brownJqi{ background-color: #cccccc; }
.brownJqifade{
	position: absolute;
	background-color: #ffffff;
}
div.brownJqi{
	position: absolute;
	background-color: transparent;
	padding: 10px;
	width: 300px;
	text-align: left;
}
div.brownJqi .brownJqiclose{
    float: right;
    margin: -20px 0 0 0;
    cursor: pointer;
    color: #777777;
    font-size: 11px;
}
div.brownJqi .brownJqicontainer{
	position: relative;
	background-color: transparent;
	border: solid 1px #5F5D5A;
	color: #ffffff;
	font-weight: bold;
}
div.brownJqi .brownJqimessage{
	position: relative;
	background-color: #F7F6F2;
	border-top: solid 1px #C6B8AE;
	border-bottom: solid 1px #C6B8AE;
}
div.brownJqi .brownJqimessage h3{
	background: url(../images/brown_theme_gradient.jpg) top left repeat-x #ffffff;
	margin: 0;
	padding: 7px 0 7px 15px;
	color: #4D4A47;
}
div.brownJqi .brownJqimessage p{
	padding: 10px;
	color: #777777;
}
div.brownJqi .brownJqimessage img.helpImg{
	position: absolute;
	bottom: -25px;
	left: 10px;
}
div.brownJqi .brownJqibuttons{
	text-align: right;
}
div.brownJqi button{
	background: url(../images/brown_theme_gradient.jpg) top left repeat-x #ffffff;
	border: solid #777777 1px;
	font-size: 12px;
	padding: 3px 10px 3px 10px;
	margin: 5px 5px 5px 10px;
}
div.brownJqi button:hover{
	border: solid #aaaaaa 1px;
}

/*
*------------------------
*   clean blue ex
*------------------------
*/
.cleanbluewarning .cleanblue{ background-color: #acb4c4; }
.cleanbluefade{ position: absolute; background-color: #aaaaaa; }
div.cleanblue{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color: #ffffff; width: 300px; font-size: 11px; text-align: left; border: solid 1px #213e80; }
div.cleanblue .cleanbluecontainer{ background-color: #ffffff; border-top: solid 14px #213e80; padding: 5px; font-weight: bold; }
div.cleanblue .cleanblueclose{ float: right; width: 18px; cursor: default; margin: -19px -12px 0 0; color: #ffffff; font-weight: bold; }
div.cleanblue .cleanbluemessage{ padding: 10px; line-height: 20px; font-size: 11px; color: #333333; }
div.cleanblue .cleanbluebuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 1px #eeeeee; background-color: #f4f4f4; }
div.cleanblue button{ padding: 3px 10px; margin: 0 10px; background-color: #314e90; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 12px; }
div.cleanblue button:hover{ border: solid 1px #d4d4d4; }

/*
*------------------------
*   Ext Blue Ex
*------------------------
*/
.extbluewarning .extblue{ border:1px red solid; }
.extbluefade{ position: absolute; background-color: #ffffff; }
div.extblue{ border:1px #6289B6 solid; position: absolute; background-color: #CAD8EA; padding: 0; width: 300px; text-align: left; }
div.extblue .extblueclose{ background-color: #CAD8EA; margin:2px -2px 0 0; cursor: pointer; color: red; text-align: right; }
div.extblue .extbluecontainer{ background-color: #CAD8EA; padding: 0 5px 5px 5px; color: #000000; font:normal 11px Verdana; }
div.extblue .extbluemessage{ background-color: #CAD8EA; padding: 0; margin:0 15px 15px 15px; }
div.extblue .extbluebuttons{ text-align: center; padding: 0px 0 0 0; }
div.extblue button{ padding: 1px 4px; margin: 0 10px; background-color:#cccccc; font-weight:normal; font-family:Verdana; font-size:10px; }

/*
*------------------------
*   smooth Ex
*------------------------
*/
.jqismoothfade{ position: absolute; background-color: #333333; }
div.jqismooth{ width: 350px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color: #ffffff; font-size: 11px; text-align: left; border: solid 3px #e2e8e6; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 7px; }
div.jqismooth .jqismoothcontainer{ font-weight: bold; }
div.jqismooth .jqismoothclose{ position: absolute; top: 0; right: 0; width: 18px; cursor: default; text-align: center; padding: 2px 0 4px 0; color: #727876; font-weight: bold; background-color: #e2e8e6; -moz-border-radius-bottomLeft: 5px; -webkit-border-bottom-left-radius: 5px; border-left: solid 1px #e2e8e6; border-bottom: solid 1px #e2e8e6;  }
div.jqismooth .jqismoothmessage{ padding: 10px; line-height: 20px; color: #444444; }
div.jqismooth .jqismoothbuttons{ text-align: right; padding: 5px 0 5px 0; border: solid 1px #e2e8e6; background-color: #f2f8f6; }
div.jqismooth button{ padding: 3px 10px; margin: 0 10px; background-color: #2f6073; border: solid 1px #f4f4f4; color: #ffffff; font-weight: bold; font-size: 12px; }
div.jqismooth button:hover{ background-color: #728A8C; }
div.jqismooth button.jqismoothdefaultbutton{ background-color: #BF5E26; }
.jqismoothwarning .jqismooth .jqismoothbuttons{ background-color: #BF5E26; }


/*
*------------------------
*   Tab View
*------------------------
*/

div.TabView div.Tabs
{
  height: 24px;
  overflow: hidden;
}

div.TabView div.Tabs a
{
	margin-right : 1px;
	
	float: left;
	display: block;

	width:  90px;
	text-align: center;

	height:      24px;
	padding-top: 3px;
	vertical-align: middle;
	border: 1px solid black;
	border-bottom-width: 0;
	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

div.TabView div.Tabs a:hover, div.TabView div.Tabs a.Active
{
	background: url("images/bg.png") repeat-y ;
}

div.TabView div.Pages
{
  clear: both;
  border: 1px solid #404040;
  overflow: hidden;
}

div.TabView div.Pages div.Page
{
  height: 100%;
  padding: 1em 4em;
  overflow: hidden;
}

div.TabView table td
{
	border: 0px none;
	padding: 10px;
}