{% extends "basic/search.html" %}
{% block extrahead %}
  {{ super() }}
  <script type="text/javascript">
    function myBrowserTest()
    {
        var is_chrome = /chrome/i.test( navigator.userAgent );
	      if (is_chrome)
	      {
	        document.write('<p> \
            <div class="admonition warning"> \
            <p class="first admonition-title">Warning</p> \
            <p><strong> Chrome users </strong></p>\
            <p class="last">Please note that Chrome does not support local search.\
            To access search functionality please use the reference manual available <a href="http://www.scalify.com/documentation/">online</a>.</p>\
            </div> \
            </p>');
        }
	
    }
  </script>
{% endblock %}

{% block body %}
  <script Language="JavaScript">
  myBrowserTest();
  </script>

  {{ super() }}
{% endblock %}
