﻿@using System.Collections;
@using Germinator.Components;
@using Germinator.Services;
@using BadumnaNetworkController;

@model IEnumerable<ComponentView>

<link href="../../Content/Site.css" rel="stylesheet" type="text/css" visible="false"/>

<div id="componentList">

    <h3>@Resources.GlobalSettings:<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Configuration','Components');"/></h3>
    
    <table id='Components'class="generalListTable" >
        <tr>
            <th colspan="2">
                @Resources.Module:
            </th>
        </tr>
        @foreach (var component in Model)
        {
            if (component != null)
            {
                BaseService service = component.Instance as BaseService;

                // Note: Do not display diagnostic component to the user, we don't want to change any code in
                // germinator, in case this feature will be used in the future
                if (service == null && !component.Index.Equals("Diagnostics") && !component.Index.Equals("Logging") && !component.Index.Equals("ClientListenerComponent"))
                {
                    <tr>
                        <td>
                            @Html.Encode(component.DisplayName)<br />
                        </td>
                        <td>
                            @Html.ActionLink(Resources.Change, "Edit", "Component", new { index = component.Index }, new { })
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>