﻿@using Germinator;
@using BadumnaNetworkController;

@model Configuration
@{
    ViewBag.Title = Resources.CreateNetwork;
}

<h2>@Resources.CreateNetwork <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Configuration','GettingStarted');"/></h2>
@Html.ValidationSummary(Resources.ErrorSummary)
@using (Html.BeginForm())
{
    <fieldset>
        <p>Welcome to Badumna Control Center.</p>
        <p>
            <label for="Name">@Resources.FriendlyName:</label>
            @Html.TextBox("Name")
            @Html.ValidationMessage("Name", "*")
        </p>
        <p>
            <label for="ProtocolHash">@Resources.ApplicationName:</label>
            @Html.TextBox("ProtocolHash")
            @Html.ValidationMessage("ProtocolHash", "*")
        </p>        
        <p>
            <input type="submit" value='@Resources.Create' />
        </p>
    </fieldset>
}