﻿@using Germinator;
@using BadumnaNetworkController;

@model Configuration
@{
    ViewBag.Title = Model.Name;
}

<h2>@Resources.NetworkDetails<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Configuration','Overview');"/></h2>
<fieldset>
    <p>
        @if (ViewBag.RunningServices != null)
        {
            Html.RenderPartial("RunningServices", (object)ViewBag.RunningServices);
        }
    </p>
    <p>
        @if (Model.GermClients != null)
        {
            Html.RenderPartial("Germs", Model.GermClients);
        }
    </p>       
    <p>
        @{ Html.RenderPartial("Components", Model.Components); }
    </p>
    <p>
        @{ Html.RenderPartial("Services", Model.Components); }
    </p>
</fieldset>
