﻿@using System.Collections;
@using Germinator;
@using BadumnaNetworkController;

@model IEnumerable<GermClient>
           
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" visible="false"/>

<div id="germList">
    <script type="text/javascript" language="javascript">
        var germList = new Array();
        var germsCount;
        $(function () {
            germsCount = '@(Model.Count<GermClient>())';
            for (var i = 0; i < germsCount; i++) {
                var id = "germ" + i;
                germList[i] = document.getElementById(id).getAttribute("name");
            }
        });

        $(function () {
            getMachineStatus();
        });

        function getMachineStatus() {
            var hostNames = "";
            for (var i in germList) {
                if (i == germsCount - 1) {
                    hostNames += germList[i];
                }
                else {
                    hostNames += germList[i] + ",";
                }
            }
            
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("GetMachineStatus", "Germ")',
                data: { 'name': hostNames, 'count': germsCount },
                type: 'POST',
                success: function (response) {
                    var lines = response.split("|");
                    for (var j in lines) {
                        if (lines[j] != "" && lines[j].indexOf("Error") == -1) {
                            var tokens = lines[j].split(":");
                            var load = tokens[2].split(" ");
                            var memAvailable = tokens[3];
                            var elementName = "cpuLoad" + tokens[1];

                            var elements = document.getElementsByTagName('div');
                            var element;
                            for (var i = 0; i < elements.length; i++) {
                                var tmp = elements[i];
                                if (tmp.id == elementName) {
                                    element = elements[i];
                                    break;
                                }
                            }

                            if (element != null) {
                                if (load[0] == "N/A") {
                                    element.className = 'normalText';
                                }
                                else if (load[0] > 90.0) {
                                    element.className = 'redText';
                                }
                                else if (load[0] > 60.0) {
                                    element.className = 'yellowText';
                                }
                                else {
                                    element.className = 'greenText';
                                }
                            }

                            $("#connectionStatus" + tokens[1]).html(tokens[0]);
                            $("#cpuLoad" + tokens[1]).html(tokens[2]);
                            $("#memAvailable" + tokens[1]).html(tokens[3]);
                        }
                    }
                }
            });

            setTimeout(getMachineStatus, 300000);
        }
    </script>
    <h3>@Resources.GermsHost:<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Configuration','Germs');"/></h3>
    <table class="generalListTable">
        <tr>
            <th>Host name</th>
            <th>Status</th>
            <th>CPU Load</th>
            <th>Memory Available</th>
            <th></th>
        </tr>        
            @{
                int i = 0;
                foreach( var globalGerm in GerminatorFacade.Instance.GetAllGermClients())
                {
                    string id = "germ" + i;
                    string updateTag = String.Format("upd_{0}", i);
                    string itemTag = String.Format("item_{0}", i); 
                    <tr>
                        <td>
                            <label id="@id" name="@globalGerm.Name">@Html.Encode(globalGerm.Name)</label>
                        </td>
                        <td>
                            <div id="connectionStatus@(i)">N/A</div>
                        </td>
                        <td>
                            <div id="cpuLoad@(i)">N/A</div>
                        </td>
                        <td>
                            <div id="memAvailable@(i)">N/A</div>
                        </td>
                        <td align="center">            
                            @Html.ActionLink(Resources.ViewDetails, "Details", "Germ", new { name = globalGerm.Name }, null)|                        
                            <span>
                                <img id='@updateTag' src='/Content/wait16.gif' style='display: none;' alt='Updating ...' />
                                <span id='@itemTag'>
                                    @Ajax.ActionLink(
                                        Resources.Remove, 
                                        "RemoveGerm", 
                                        new { name = globalGerm.Name },
                                        new AjaxOptions() { UpdateTargetId = "germList",
                                                LoadingElementId = updateTag,
                                                OnBegin = "function(){ return $('#" + itemTag + "').hide(); }",
                                                OnComplete = "function(){ return $('#" + itemTag + "').show(); }"
                                        }
                                    )
                                </span>
                            </span>
                        </td>
                    </tr>
                    i++;
                }
            }
        <tr>
            <td colspan="5">
                @Html.ActionLink(Resources.AddGerm, "Create", "Germ")
            </td>
        </tr>
    </table>
</div>