﻿@using System.Collections.Generic;
@using Germinator.Services;
@using GermServer;
@using BadumnaNetworkController;

@model Dictionary<string, RemoteServiceProcess>

<link href="../../Content/Site.css" rel="stylesheet" type="text/css" runat="server" id="styleMain" visible="false" />
<div id="runningServiceList">
    <h3>@Resources.RunningServices:<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Configuration','RunningServices');"/></h3>
    
    <table id='Services' class="generalListTable">
        <tr>
            <th>@Resources.ServiceName</th>
            <th>@Resources.Host</th>
            <th>@Resources.TimeOfLastPing</th>
            <th>@Resources.PingResponse</th>
            <th></th>
        </tr>
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan='5' align='center'>No services are currently running.</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (KeyValuePair<string, RemoteServiceProcess> pair in Model)
                {
                    string updateTag = String.Format("updating_{0}", i++);
                    string updateLink = String.Format("{0}_link", updateTag);
                   <tr>
                        <td>@Html.Encode(pair.Key)</td>            
                        <td>@Html.Encode(pair.Value.Germ.Name)</td>
                        <td>@Html.Encode(string.Format("{0:g}", pair.Value.TimeOfLastPing))</td>
                        <td>@pair.Value.PingStatus</td>
                        <td>
                            @if (pair.Value.PingStatus == PingStatus.ExitWithError)
                            {
                                @Html.Encode(Resources.ShowStatus + "|")
                            }
                            else
                            {
                                @Html.ActionLink(Resources.ShowStatus, "Status", "Service", new { serviceName = ((ProcessDescription)pair.Value.Process).Name, host = pair.Value.Germ.Name, customName = pair.Key }, null)
                            }
                            
                            |<img id='@updateTag' src='/Content/wait16.gif' style='display: none;' alt='Updating ...' />
                            <span id='@updateLink'>
                                @Ajax.ActionLink(
                                    Resources.Ping,
                                    "Ping",
                                    new { serviceName = ((ProcessDescription)pair.Value.Process).Name, host = pair.Value.Germ.Name },
                                    new AjaxOptions()
                                    {
                                        UpdateTargetId = "runningServiceList",
                                        LoadingElementId = updateTag,
                                        OnBegin = "function(){ return $('#" + updateLink + "').hide(); }",
                                        OnComplete = "function(){ return $('#" + updateLink + "').show(); }"
                                    }
                                )
                            </span>
                            | @Ajax.ActionLink(
                                    Resources.KillProcess,
                                    "StopService",
                                    new { serviceName = ((ProcessDescription)pair.Value.Process).Name, germName = pair.Value.Germ.Name, redirectToHome = false },
                                    new AjaxOptions() { UpdateTargetId = "runningServiceList" })
                            | @Ajax.ActionLink(
                                    Resources.RestartService,
                                    "RestartService",
                                    new { serviceName = ((GermServer.ProcessDescription)pair.Value.Process).Name, germName = pair.Value.Germ.Name, redirectToHome = false },
                                    new AjaxOptions() { UpdateTargetId = "runningServiceList" })
                        </td>
                   </tr>
                }
            }
    </table>
</div>