﻿@using System.Collections;
@using Germinator.Components;
@using Germinator.Services;
@using BadumnaNetworkController;

@model IEnumerable<ComponentView>

<link href="../../Content/Site.css" rel="stylesheet" type="text/css" runat="server" id="styleMain" visible="false" />

<div id="serviceList">
    <h3>@Resources.AvailableServices:<img src="../../Content/images/qm.png" style="width: 20px; height: 20px; cursor: pointer;" alt="QuestionMark" onclick="showHelp('Configuration','Services');" /></h3>
    <table id='Services' class="generalListTable">
        <tr>
            <th>@Resources.ServiceName</th>
            <th></th>
        </tr>
        @foreach (var component in Model)
        {
            if (component != null)
            {
                // Note: Remove clandenstine peer service from the default services, just don't display it
                BaseService service = component.Instance as BaseService;
                if (service != null && !service.Index.Equals("ClandestinePeer"))
                {
                    <tr>
                        <td>@Html.Encode(component.DisplayName) <br /></td>
                        <td align="left">
                            @Html.ActionLink(Resources.Change, "Edit", "Component", new { index = service.Index }, new { })
                            |<a onclick="StartApplication('@service.Index');" style="cursor: pointer;"><span style="text-decoration: underline">@Resources.StartService</span></a>
                            @{
                                // Can't remove the default packages
                                string[] exclusionList = new string[] { "ClandestinePeer", "SeedPeer", "Dei", "OverloadPeer", "HttpTunneling", "StatisticsServer" };
                                if (!exclusionList.Contains(service.Index))
                                {                              
                                    @Html.Raw("|");      
                                    @Html.ActionLink(Resources.Remove, "Remove", "Service", new { serviceName = service.Index }, null)
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>