/*
Theme name: Scalify
Description: Custom Theme
*/
@import url('wp-default.css');

* {
margin: 0;
padding: 0;
}

html, body {
height:100%;
margin:0;
padding:0;
}
body {
background:url(images/bodyBg.png) repeat-x #E5E5E5;
font-family:Arial, Helvetica, sans-serif;
color:#7d7d7d;
font-size:14px;
}
a {
outline: none;
}
a img {
border:0;
}
.clear {
clear:both;
height:0;
line-height:0;
font-size:0;
}
.notext {
text-indent:-99999px;
font-size:0;
line-height:0;
}
#container {
position: relative;
min-height: 100%;
height: auto !important;
height: 100%;
background:url(images/bg.png) repeat-y center;
}
#bgHolder {
max-width:1103px;
width:auto !important;
width:1103px;
min-height:250px;
height:auto !important;
height:250px;
margin:0 auto;
padding:0 0 158px 0;
background:url(images/topBg.png) repeat-x top;
}
#bgHolder .holder {
width:970px;
margin:0 auto;
}
#header .logo {
width:314px;
height:46px;
background:url(images/logo.png) no-repeat;
float:left;
display:inline;
margin:60px 0 0 0;
}

#header .nav {
width:555px;
float:left;
display:inline;
margin:60px 0 0 98px;
height:43px;
background:url(images/scalify-nav.png) no-repeat;
}
#header .nav a {
float:left;
display:inline-block;
height:43px;
margin:0 5px;

}
#header .nav a.features {
width:70px;
margin-left:25px;
}
#header .nav.features {
background-position:0 -43px;
}

#header .nav a.showcase {
width:75px;
}
#header .nav.showcase {
background-position:0 -86px;
}

#header .nav a.download {
width:80px;
}
#header .nav.download {
background-position:0 -129px;
}

#header .nav a.documentation {
width:115px;
}
#header .nav.documentation {
background-position:0 -172px;
}

#header .nav a.forum {
width:55px;
}
#header .nav a.contact {
width:60px;
}
#header .nav.contact {
background-position:0 -258px;
}








#content {
padding:75px 0 0 0;
}
#content .left {
width:410px;
float:left;
display:inline;
}
#content .right {
width:560px;
float:left;
display:inline;
}
#content h1.main {
font-size:30px;
color:#313339;
line-height:34px;
padding:0 0 15px 40px;
background:url(images/h1Bg.png) no-repeat;
}
#content h1.title {
font-size:16px;
color:#F76E00;
padding:0;
background:none;
}
#content h1.title span {
color:#31333A;
}
#content p {
padding:0 0 20px 0;
}
#content p.author {
padding:20px 0;
}
#content a {
font-weight:bold;
color:#7d7d7d;
}
#content ul {
margin:0 0 20px 40px;
}
#content ul li {
background:url(images/li.png) no-repeat 0 7px;
list-style:none;
padding:0 0 0 15px;
color:#31333a;
margin:2px 0;
}
#content .divider {
height:2px;
line-height:0px;
font-size:0;
margin:0 0 25px 0;
background-color:#E3E3E3;
}
#content a.moreLnk {
text-decoration:none;
display:block;
margin:10px 0 0 0;
color:#F27E01;
font-size:14px;
}
#content a.moreLnk span {
color:#31333a;
font-weight:normal;
}
#footer {
width: 100%;
position: absolute;
bottom: 0 !important;
bottom: -1px;
height:128px;
background:url(images/footerBg.png) repeat-x bottom;
color:#c5c5c5;

}
#footer a {
color:#c5c5c5;
text-decoration:none;
}
#footer .holder {
width:970px;
height:128px;
margin:0 auto;
background:url(images/footer.png) no-repeat bottom;
}
#footer .logo {
width:238px;
height:50px;
background:url(images/logoFooter.png) no-repeat;
}
#footer .copy {
width:430px;
margin:35px 0 0 0;
float:left;
display:inline;
font-size:11px;
}
#footer .nav {
width:540px;
margin:35px 0 0 0;
float:left;
display:inline;
font-size:13px;
color:#323232;
}
#footer .nav a {
margin:0 15px;
}

#send-thoughts{
margin: 40px 0 0 0;
}