﻿@{
    ViewBag.Title = "Add help item";
}

<h2>Add help item (Development only!)</h2>
@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Fields</legend>
        <p>
            <label for="Topic">Topic name</label>
            @Html.DropDownList("Topic", new SelectList(BadumnaNetworkController.Models.HelpTopics.Instance.Topics, 0))
        </p>
        <p>
            <label for="Item">Item name</label>
            @Html.TextBox("Item")
        </p>
        <p>
            <label for="Title">Title</label>
            @Html.TextBox("Title")
        </p>
        <p>
            <label for="Text">Text</label>
            @Html.TextArea("Text")
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
