﻿@{
    ViewBag.Title = "Add help item";
}

<h2>Add help item (Development only!)</h2>
@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
    <h2>@Html.Encode(ViewBag.Topic) : @Html.Encode(ViewBag.Item)</h2>
    <fieldset>
        <p>
            <label for="Title">Title</label>
            @Html.TextBox("Title", (string)ViewBag.HelpTitle)
        </p>
        <p>
            <label for="Text">Text</label>
            @Html.TextArea("Text", (string)ViewBag.Text,  new { style = "width: 100%; height: 300px;" })
        </p>
        <p>
            @Html.Hidden("topic", (string)ViewBag.Topic)
            @Html.Hidden("item", (string)ViewBag.Item)
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}
