﻿@using System.Collections;
@using BadumnaNetworkController;

@model IEnumerable<string>
@{
    ViewBag.Title = "Help";
}

@foreach (var item in Model)
{
    <h2>@item</h2>
    IEnumerable<BadumnaNetworkController.Models.HelpItem> helps = BadumnaNetworkController.Models.HelpTopics.Instance.GetItems(item);
    foreach (BadumnaNetworkController.Models.HelpItem helpItem in helps)
    {
        <h3>@helpItem.Title</h3>
        @Html.RenderHtml(helpItem.Text)
        @Html.ActionLink(Resources.EditOverview, "AddItem", "Help", new { topic = item, item = helpItem.Name }, new { })
    } 
}
