.graph-container {
	height: 300px;
	margin-bottom: 2em;
	clear:both;
}

code {
	color: #000;
}

.btn.deleteApp {
	position: relative;
	top:1em;
}

.centered {
	text-align: center;
}

.appName {
	font-size: 1.3em;
	padding-left:0.2em;
}

.appId.muted {
	font-size:0.9em;
	display:inline-block;
	padding-left:0.4em;
}

.download-cta p {
	font-size: 1.6em;
	margin-bottom:3em;
	color: #777;
}

.download-cta a {
	margin-top: 5px;
}

a.resendActivation {
	/* resendActivation links appear in form errors, so we want to
	 * inherit the colour but make it bold / underlined to stand
	 * out as a link.
	 */
	text-decoration:underline;
	font-weight:bold;
	color: inherit;
}


.help-inline {
  margin-bottom: 10px;
}

.brand div {
	position: relative;
}

.brand .beta-badge {
	position: absolute;
	right: 03px;
	top:28px;
}

body {
	padding-top: 100px;
}

@media (max-width: 979px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
	}
	.navbar-inner {
		padding-top:0 !important;
		padding-bottom:0 !important;
	 }
}

@media (min-width: 740px) {
	.dropdown-menu .currentUserEmail, .dropdown-menu .divider {
		display:none;
	}
}

@media (max-width: 740px) {
	.dropdown-toggle .currentUserEmail {
		display:none;
	}
}

.currentUserEmail {
	text-transform: none;
}

.dropdown-menu > li > * {
	padding: 3px 20px;
}

.footer .copyright {
	margin-left: 0;
}
