﻿@using System.Collections;

<script type="text/javascript" language="javascript">
    function OnPropertyChange() {
        var element = document.getElementById("CertificateOptions");
        var value = element.options[element.selectedIndex].value;
        var passField = document.getElementById("CertificatePassphrase");

        if (value == "Custom certificate") {
            passField.disabled = false;
            passField.style.backgroundColor = "white";
        }
        else {
            passField.disabled = true;
            passField.style.backgroundColor = "grey";
        }
    }
</script>

<div>
    <table>
        <tr>
            <td colspan='2'>
                <label>Start @Html.Encode(ViewBag.name) service</label>
            </td>
        </tr>
        <tr>
            <td>
                Service Name:
            </td>
            <td>
                @Html.TextBox("ServiceName", (string)ViewBag.name, new {style = "background:white;color:black;" })
            </td>
        </tr>
        <tr>
            <td>
                Start service on:
            </td>
            <td>
                @Html.DropDownList("GermList", new SelectList(Model), new { style = "background:white;color:black;" })
            </td>
        </tr>
        @if (ViewBag.name.Equals("Dei") && (bool)ViewBag.useSsl)
        {
        <tr>
            <td>
                Certificate type:
            </td>
            <td>
                @{
                    string[] certificateType = new string[] { "Autogenerate certificate", "Custom certificate" };
                    IEnumerable<string> cert = certificateType.AsEnumerable<string>();
                }
                @Html.DropDownList("CertificateOptions", new SelectList(cert), new { style = "background:white;color:black;", onchange = "OnPropertyChange();" })
            </td>
        </tr>
        <tr>
            <td>
                Certificate passphrase:
            </td>
            <td>
                @Html.Password("CertificatePassphrase", null, new { style = "background:grey;color:black;", disabled = "true" })
            </td>
        </tr>
        }
    </table>
</div>