﻿@using Germinator.Components;
@using BadumnaNetworkController;

@model ComponentView

<script type="text/javascript" language="javascript">
    function OnAdvanceSetting() {
        var tr = document.getElementsByTagName('tr');
        for (var i = 0; i < tr.length; i++) {
            if (tr[i].getAttribute('name')) {
                if (tr[i].style.display == 'none') {
                    tr[i].style.display = 'table-row';
                }
                else {
                    tr[i].style.display = 'none';
                }
            }
        }
        onPropertyChange();
    }
</script>

@{
    // we don't want to use edit sub component in the current version 1.4 either (diagnostics)
    // - Remove the UpdaterType and UpdaterSoruce from the display
    bool advancedOptions = false;
    foreach (var item in Model)
    {
        if (item.Index.Equals("AdvancedOptions"))
        {
            advancedOptions = (bool)item.Value;
            <tr>
                <td>
                    @Html.Encode(item.Name):
                </td>
                <td>
                    @Html.CheckBox(item.Index, (bool)item.Value, new { onclick = "OnAdvanceSetting();" })
                </td>
            </tr>
        }
        else if(!item.Index.Equals("Diagnostics"))
        {
            if (item.Index.Equals("StunServers")
                || item.Index.Equals("Logging")
                || item.Index.Equals("IsPortForwardingEnabled"))
            {
                string style = "display:" + (advancedOptions ? "table-row" : "none");
                @Html.Raw(string.Format("<tr name='AdvancedOptions' style='{0}'>", style));
            }
            else
            {
                @Html.Raw("<tr>");
            }
            
            <td>@Html.Encode(item.Name)</td>
            <td>
                @switch(item.Type)
                {
                    case PropertyType.File:
                        @Html.FileBox(item.Index, item.Value);
                        break;
                    case PropertyType.String:
                        @Html.TextBox(item.Index, item.Value, new { onchange = "onPropertyChange('" + item.Index + "');" });
                        break;
                    case PropertyType.Int:
                        @Html.TextBox(item.Index, item.Value.ToString(), new { onchange = "onPropertyChange('" + item.Index + "');" });
                        break;
                    case PropertyType.Bool:
                        @Html.CheckBox(item.Index, (bool)item.Value, new { onclick = "onPropertyChange('" + item.Index + "');" });
                        break;
                    case PropertyType.StringList:
                        string stringList = string.Empty;
                        IEnumerator<string> iter = item.PossibleValues.GetEnumerator();
                        for (int i = 0; i < item.PossibleValues.Count(); i++)
                        {
                            if (iter.MoveNext())
                            {
                                if (i != 0)
                                {
                                    stringList += ",\n";
                                }

                                stringList += iter.Current;
                            }
                        }
                        @Html.TextArea(item.Index, stringList, new { onchange = "onPropertyChange('" + item.Index + "');" });
                        break;
                    case PropertyType.StringOption:
                        int index = 0;
                        for (int i = 0; i < item.PossibleValues.Count(); i++)
                        {
                            string value = item.PossibleValues.ElementAt<string>(i);
                            if (value.Equals(item.Value))
                            {
                                index = i;
                                break;
                            }
                        }
                        @Html.DropDownList(item.Index, new SelectList(item.PossibleValues, item.PossibleValues.ElementAt<string>(index)), new { onchange = "onPropertyChange('" + item.Index + "');" });
                        break;
                    case PropertyType.SubComponent:
                        @Html.ActionLink(string.Format("Edit {0}", item.Index), "Edit", new { index = item.Index });
                        break;
                }
            </td>
            @Html.Raw("</tr>");
        }
   }
}

<tr>
    <td colspan="2">
        <a onclick="onDefaultButton();" style="cursor: pointer;"><span style="text-decoration: underline"> @Html.Encode(Resources.Default)</span></a>
    </td>
</tr>