﻿@using Germinator.Components;
@using Germinator.Services;
@using BadumnaNetworkController;

@model ComponentView

@{
    // Do the check for default services
    bool usingDei = false;
    bool isDefaultService = false;
    string[] defaultServices = new string[] { "OverloadPeer", "SeedPeer", "Dei", "HttpTunneling", "StatisticsServer" };
    string[] exlusionList = new string[] { 
        "CompatibleHosts", 
        "MaintenanceTaskIntervalSeconds", 
        "MaximumNumberOfInstances", 
        "UseDei",
        "DeiServerAddress",
        "DeiUsername",
        "DeiPassword",
        "SslConnection",
        "PublicKeyValidityPeriod"};

    foreach (string serviceName in defaultServices)
    {
        if (Model.Index.Equals(serviceName))
        {
            isDefaultService = true;
            break;
        }
    }

    foreach (var item in Model)
    {
        // Do not display the unrelevant options.
        if (!exlusionList.Contains(item.Index)
            && !(isDefaultService && item.Index.Equals("ProcessArguments"))
            && !(Model.Index.Equals("OverloadPeer") && item.Index.Equals("NewNetwork")))
        {
            <tr>
                <td>@Html.Encode(item.Name)</td>
                <td>
                    @switch (item.Type)
                    {
                        case PropertyType.File:
                            @Html.FileBox(item.Index, item.Value);
                            break;
                        case PropertyType.String:
                            @Html.TextBox(item.Index, item.Value, new { onchange = "onPropertyChange('" + item.Index + "');" });
                            break;
                        case PropertyType.Int:
                            @Html.TextBox(item.Index, item.Value.ToString(), new { onchange = "onPropertyChange('" + item.Index + "');" });
                            break;
                        case PropertyType.Bool:
                            @Html.CheckBox(item.Index, (bool)item.Value, new { onclick = "onPropertyChange('" + item.Index + "');" });
                            break;
                        case PropertyType.StringList:
                            @Html.ListBox(item.Index, new MultiSelectList((IEnumerable<string>)item.PossibleValues, (string[])item.Value), new { onchange = "onPropertyChange('" + item.Index + "');" });
                            break;
                        case PropertyType.StringOption:
                            int index = 0;
                            for (int i = 0; i < item.PossibleValues.Count(); i++)
                            {
                                string value = item.PossibleValues.ElementAt<string>(i);
                                if (value.Equals(item.Value))
                                {
                                    index = i;
                                    break;
                                }
                            }
                            @Html.DropDownList(item.Index, new SelectList(item.PossibleValues, item.PossibleValues.ElementAt<string>(index)), new { onchange = "onPropertyChange('" + item.Index + "');" });
                            break;
                        case PropertyType.SubComponent:
                            @Html.ActionLink(Resources.EditSubComponent, "Edit", new { index = item.Index });
                            break;
                    }
                </td>
            </tr>
        }
        else if(item.Index.Equals("MaintenanceTaskIntervalSeconds") && Model.Instance is PeerService)
        {
            <tr>
                <td>@Html.Encode(item.Name)</td>
                <td>
                    @{
                        bool enableMaintenanceTask = (int)item.Value > 0 ? true : false;
                        if (enableMaintenanceTask)
                        {
                            <input type="checkbox" name="cb@item.Index" checked="checked" onchange="toogleView('@item.Index');" />
                        }
                        else
                        {
                            <input type="checkbox" name="cb@item.Index" onchange="toogleView('@item.Index');" />
                        }

                        string style = "display:" + (enableMaintenanceTask ? "table-row" : "none");
                     }
                </td>
            </tr>
            <tr id="@item.Index" style="@style">
                <td>
                    <label>Monitor frequency (sec)</label>
                </td>
                <td>
                    @Html.TextBox(item.Index, item.Value.ToString(), new { onchange = "onPropertyChange('" + item.Index + "');", id = string.Format("{0}-tb", item.Index) })
                </td>
            </tr>
        }
        else if(item.Index.Equals("UseDei"))
        {
            // Note : Dei module is used for the overload peer and seed peer only, the arbitration service should has their own mechanism 
            // how to handle when the deiserver is used.
            usingDei = (bool)item.Value;
            <tr>
                <td>@Html.Encode(item.Name)</td>
                <td>
                    @Html.CheckBox(item.Index, (bool)item.Value, new { onclick = "toogleDeiView();onPropertyChange('" + item.Index + "');" })
                </td>
            </tr>
        }
        else if(item.Index.Equals("DeiServerAddress") 
            || item.Index.Equals("DeiUsername")
            || item.Index.Equals("DeiPassword") 
            || item.Index.Equals("SslConnection"))
        {
            string style = "display:" + (usingDei ? "table-row" : "none");
            <tr name="Dei" style="@style">
                <td>@Html.Encode(item.Name)</td>
                <td>
                    @switch(item.Type)
                    {
                        case PropertyType.String:
                            if(item.Index.Equals("DeiPassword"))
                            {
                                @Html.Password(item.Index, item.Value, new { onchange = "onPropertyChange('" + item.Index + "');" })    
                            }
                            else if (item.Index.Equals("DeiServerAddress") && ViewBag.DeiServerAddress != null)
                            {
                                @Html.TextBox(item.Index, (string)ViewBag.DeiServerAddress, new { onchange = "onPropertyChange('" + item.Index + "');" })
                            }
                            else
                            {
                                @Html.TextBox(item.Index, item.Value, new { onchange = "onPropertyChange('" + item.Index + "');" })
                            }
                            break;
                        case PropertyType.Bool:
                            @Html.CheckBox(item.Index, (bool)item.Value, new { onclick = "onPropertyChange('" + item.Index + "');" })
                            break;     
                    }
                </td>             
            </tr>
        }
    }
}

<tr>
    <td>
            @Resources.PackageDetails:
    </td>
    <td>
            @Html.ActionLink(Html.Encode(Model.Index), "Details", "Package", new { name = Model.Index, displayName = Model.DisplayName }, null)
    </td>
</tr>
<tr>
    <td colspan="2">
        <a onclick="StartApplication('@Model.Index');" style="cursor: pointer;"><span style="text-decoration: underline"> @Resources.StartService</span></a> 
        |
        <a onclick="onDefaultButton();" style="cursor: pointer;"><span style="text-decoration: underline"> @Resources.Default</span></a>
    </td>
</tr>