﻿@using Germinator.Components;
@using Germinator.Services;
@using BadumnaNetworkController;

@model ComponentView

@{
    ViewBag.Title = Model.DisplayName;
}

<script type="text/javascript">    
    function toogleView(itemName) {
        var updateForm = document.getElementById(itemName);
        if (updateForm != null && updateForm.style.display == 'none') {
            updateForm.style.display = 'table-row';
        }
        else {
            updateForm.style.display = 'none';
            var textbox = document.getElementById(itemName + "-tb");
            textbox.value = 0;
            onPropertyChange();
        }
    }

    function toogleDeiView() {
        var tr = document.getElementsByTagName('tr');
        for (var i = 0; i < tr.length; i++) {
            if (tr[i].getAttribute('name')) {
                if (tr[i].style.display == 'none') {
                    tr[i].style.display = 'table-row';
                }
                else {
                    tr[i].style.display = 'none';
                }
            }
        }
    }

    function onPropertyChange(id) {
        var settingChangeAllowed = '@ViewBag.SettingChangeAllowed';

        if (id == "ParticipationValidityPeriod") {
            if (document.getElementById(id).value <= 0) {
                var txt = "<p>The Participation validity period must be greater than 0. </p>";
                $.prompt(txt, {
                    callback: onPropertyChangeCallback,
                    buttons: { Ok: false }
                });

                return;
            }
        }
        else if (id == "MaintenanceTaskIntervalSeconds") {
            if (document.getElementById(id + "-tb").value <= 0) {
                var txt = "<p>Maintenance task interval must be greater than 0. </p>";
                $.prompt(txt, {
                    callback: onPropertyChangeCallback,
                    buttons: { Ok: false }
                });

                return;
            }
        }
        else if (id == "ApplicationName") {
            if (!validateAlphanumeric(document.getElementById(id).value)) {
                var txt = "<p>Invalid name, name should only consisting of alphanumeric, - or _ only.</p>";
                $.prompt(txt, {
                    buttons: { Ok: false }
                });

                return;
            }
        }


        if (settingChangeAllowed == "False") {
            var txt = "<p>There are currently running services, changing the global setting my causing an inconsistency in Badumna network configuration";
            txt += "<br/>Are you sure want to change the setting ? </p>";
            $.prompt(txt, {
                callback: onPropertyChangeCallback,
                buttons: { Ok: true, Cancel: false }
            });
        }
        else {
            var form = document.getElementById('form');
            form.submit();
        }
    }

    function onPropertyChangeCallback(v) {
        if (v) {
            var form = document.getElementById('form');
            form.submit();
        }
        else {
            window.location.reload(true);
        }
    }

    function onDefaultButton() {
        var settingChangeAllowed = '@ViewBag.SettingChangeAllowed';
        if (settingChangeAllowed == "False") {
            var txt = "<p>There are currently running services, changing the global setting my causing an inconsistency in Badumna network configuration";
            txt += "<br/>Are you sure want to change the setting back to default value? </p>";
            $.prompt(txt, {
                callback: onDefaultButtonCallback,
                buttons: { Ok: true, Cancel: false }
            });
        }
        else {
            var url = '@Url.Action("Default", new { name = Model.Index })';
            location.href = url;
        }
    }

    function onDefaultButtonCallback(v) {
        if (v) {
            var url = '@Url.Action("Default", new { name = Model.Index })';
            location.href = url;
        }
    }    
</script>

@if (Model.Index.Equals("Dei") || Model.Index.Equals("SeedPeer") || Model.Index.Equals("OverloadPeer") || Model.Index.Equals("HttpTunneling"))
{
    <h2>'@Model.DisplayName' Settings <img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('Configuration','@Model.Index','jqiwide');"/></h2>
}
else
{
    <h2>'@Model.DisplayName' Settings </h2>
}
    

@using (Html.BeginForm("Edit", "Component", new { name = Model.Index }, FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
{
    <fieldset>
        @Html.ValidationSummary()
        <table>
            @{
                // Check whether the model is a component or services 
                bool isComponent = false;
                BaseService service = Model.Instance as BaseService;

                if (service == null)
                {
                    isComponent = true;
                }

                if (isComponent)
                {
                    // Handle a component (Note: will remove the logging component from the component and leave it as subcomponent)
                    // Handle Badumna Component as a special case
                    Html.RenderPartial("EditComponent", Model);
                }
                else
                {
                    Html.RenderPartial("EditService", Model);
                }
            }
        </table>
    </fieldset>
}    

<div>
    <p>@Html.ActionLink(Resources.BackToHome, "Index", "Network")</p>
</div>