<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Badumna Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-scalify.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}base.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{STATIC_URL}}favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="100">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          {# <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> #}
          {#   <span class="icon-bar"></span> #}
          {#   <span class="icon-bar"></span> #}
          {#   <span class="icon-bar"></span> #}
          {# </button> #}
          <a class="brand" href="/">
            <div>
              <img src="{{ STATIC_URL }}bootstrap/img/logo-badumna.png" alt="">
              <img src="{{STATIC_URL}}beta-badge.png" class="beta-badge">
            </div>
          </a>
          <div class="">
{% if not STATIC %}
  {# for statically rendered pages, we can't determine whether the user is logged in or not #}
            <ul class="nav">
              {% for item in NAVIGATION_MENU %}
              <li class="{% if item.active %}active{%endif%}"><a class="{{item.class}}" href="{{item.url}}">{{item.text}}</a></li>
              {% endfor %}
            </ul>

  {% if user.is_authenticated %}
            <ul class="nav pull-right user-nav">
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle toggle-user-menu" href="#">
                  <img src="{{STATIC_URL}}bootstrap/img/img-profile.png" alt=""/>
                  <span class="currentUserEmail">{{user.email}}</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu user-menu">
                  <li><span class="currentUserEmail">{{user.email}}</span></li>
                  <li class="divider"></li>
                  <li><a class="logout" href="{% url 'logout' %}">Logout</a>
                  <li><a class="changePassword" href="{% url 'auth_password_change' %}">Change password</a>
    {% if user.is_admin %}
                  <li><a href="{% url 'admin:index' %}">Admin</a>
    {% endif %}
                </ul>
              </li>
            </ul>
  {% endif %}
{% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      {% block content %}{% endblock %}

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        {% if user.is_authenticated %}
            {% include "download_link.html" %}
        {% endif %}
        <p class="brand"><a href="http://scalify.com/"><img src="{{STATIC_URL}}bootstrap/img/logo-scalify.png" alt=""></a></p>
        <p class="copyright">&copy;2013 Scalify</p>
        <ul class="footer-links">
          <li><a href="/">Badumna Cloud</a></li>
          <li><a href="/contact">Support</a></li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script> #}
    {# <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script> #}
    <script src="{{ STATIC_URL }}debug/ba-debug.min.js"></script>
    <script>
      {% if debug %}
          debug.setLevel(5); // debug
      {% else %}
          debug.setLevel(2); // warning
      {% endif %}
    </script>
    <script src="{{ STATIC_URL }}base.js"></script>

    {% block end_includes %}{% endblock %}


  </body>
</html>
