#sphinx-content input
{
    margin: 2px;
    border-radius: 0;
}

#sphinx-content div.clearer
{
    clear:both
}

#sphinx-content div.related
{
    clear: both;
    width:100%;
    font-size:90%
}

#sphinx-content div.related h3
{
    display:none
}

#sphinx-content div.related ul
{
    margin:0;
    padding:0 0 0 10px;
    list-style:none
}

#sphinx-content div.related li
{
    display:inline
}

#sphinx-content div.related li.right
{
    float:right;
    margin-right:5px
}

#sphinx-content div.sphinxsidebarwrapper
{
    padding:10px 5px 0 10px
}


#sphinx-content div.sphinxsidebar
{
    float:left;
    width:230px;
    margin-left:-100%;
    font-size:90%
}

#sphinx-content div.sphinxsidebar ul
{
    list-style:none;
	margin: 0 0 0 0px;
}

#sphinx-content div.sphinxsidebar ul li ul li ul
{
    display: none;
}

#sphinx-content div.sphinxsidebar ul ul,#sphinx-content div.sphinxsidebar ul.want-points
{
    margin-left:20px;
    list-style:square
}

#sphinx-content div.sphinxsidebar ul ul
{
    margin-top:0;
    margin-bottom:0
}

#sphinx-content div.sphinxsidebar form
{
    margin-top:10px
}

#sphinx-content div.sphinxsidebar input
{
    border:1px solid #98dbcc;
    font-family:sans-serif;
    font-size:1em
}

#sphinx-content div.sphinxsidebar #searchbox input[type="text"]
{
    width:170px
}

#sphinx-content div.sphinxsidebar #searchbox input[type="submit"]
{
    width:30px
}

#sphinx-content img
{
    border:0
}

#sphinx-content ul.search
{
    margin:10px 0 0 20px;
    padding:0
}

#sphinx-content ul.search li
{
    padding:5px 0 5px 20px;
    background-image:url(file.png);
    background-repeat:no-repeat;
    background-position:0 7px
}

#sphinx-content ul.search li a
{
    font-weight:bold
}

#sphinx-content ul.search li div.context
{
    color:#888;
    margin:2px 0 0 30px;
    text-align:left
}

#sphinx-content ul.keywordmatches li.goodmatch a
{
    font-weight:bold
}

#sphinx-content table.contentstable
{
    width:90%
}

#sphinx-content table.contentstable p.biglink
{
    line-height:150%
}

#sphinx-content a.biglink
{
    font-size:1.3em
}

#sphinx-content span.linkdescr
{
    font-style:italic;
    padding-top:5px;
    font-size:90%
}

#sphinx-content table.indextable
{
    width:100%
}

#sphinx-content table.indextable td
{
    text-align:left;
    vertical-align:top
}

#sphinx-content table.indextable dd,#sphinx-content table.indextable dl
{
    margin-top:0;
    margin-bottom:0
}

#sphinx-content table.indextable tr.pcap
{
    height:10px
}

#sphinx-content table.indextable tr.cap
{
    margin-top:10px;
    background-color:#f2f2f2
}

#sphinx-content img.toggler
{
    margin-right:3px;
    margin-top:3px;
    cursor:pointer
}

#sphinx-content div.modindex-jumpbox
{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin:1em 0 1em 0;
    padding:.4em
}

#sphinx-content div.genindex-jumpbox
{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin:1em 0 1em 0;
    padding:.4em
}

#sphinx-content a.headerlink
{
    visibility:hidden
}

#sphinx-content dt:hover &gt;
a.headerlink,#sphinx-content h1:hover &gt;
a.headerlink,#sphinx-content h2:hover &gt;
a.headerlink,#sphinx-content h3:hover &gt;
a.headerlink,#sphinx-content h4:hover &gt;
a.headerlink,#sphinx-content h5:hover &gt;
a.headerlink,#sphinx-content h6:hover &gt;
a.headerlink
{
    visibility:visible
}

#sphinx-content div.body p.caption
{
    text-align:inherit
}

#sphinx-content .field-list ul
{
    padding-left:1em
}

#sphinx-content .first
{
    margin-top:0 !important
}

#sphinx-content p.rubric
{
    margin-top:30px;
    font-weight:bold
}

#sphinx-content .figure.align-left,#sphinx-content img.align-left,#sphinx-content object.align-left
{
    clear:left;
    float:left;
    margin-right:1em
}

#sphinx-content .figure.align-right,#sphinx-content img.align-right,#sphinx-content object.align-right
{
    clear:right;
    float:right;
    margin-left:1em
}

#sphinx-content .figure.align-center,#sphinx-content img.align-center,#sphinx-content object.align-center
{
    display:block;
    margin-left:auto;
    margin-right:auto
}

#sphinx-content .align-left
{
    text-align:left
}

#sphinx-content .align-center
{
    text-align:center
}

#sphinx-content .align-right
{
    text-align:right
}

#sphinx-content div.sidebar
{
    margin:0 0 .5em 1em;
    border:1px solid #ddb;
    padding:7px 7px 0 7px;
    background-color:#ffe;
    width:40%;
    float:right
}

#sphinx-content p.sidebar-title
{
    font-weight:bold
}

#sphinx-content div.topic
{
    border:1px solid #ccc;
    padding:7px 7px 0 7px;
    margin:10px 0 10px 0
}

#sphinx-content p.topic-title
{
    font-size:1.1em;
    font-weight:bold;
    margin-top:10px
}

#sphinx-content div.admonition
{
    margin-top:10px;
    margin-bottom:10px;
    padding:7px
}

#sphinx-content div.admonition dt
{
    font-weight:bold
}

#sphinx-content div.admonition dl
{
    margin-bottom:0
}

#sphinx-content p.admonition-title
{
    margin:0 10px 5px 0;
    font-weight:bold
}

#sphinx-content div.body p.centered
{
    text-align:center;
    margin-top:25px
}

#sphinx-content table.docutils
{
    border:0;
    border-collapse:collapse
}

#sphinx-content table.docutils td,#sphinx-content table.docutils th
{
    padding:1px 8px 1px 5px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #aaa
}

#sphinx-content table.field-list td,#sphinx-content table.field-list th
{
    border:0 !important
}

#sphinx-content table.footnote td,#sphinx-content table.footnote th
{
    border:0 !important
}

#sphinx-content th
{
    text-align:left;
    padding-right:5px
}

#sphinx-content table.citation
{
    border-left:solid 1px gray;
    margin-left:1px
}

#sphinx-content table.citation td
{
    border-bottom:none
}

#sphinx-content ol.arabic
{
    list-style:decimal
}

#sphinx-content ol.loweralpha
{
    list-style:lower-alpha
}

#sphinx-content ol.upperalpha
{
    list-style:upper-alpha
}

#sphinx-content ol.lowerroman
{
    list-style:lower-roman
}

#sphinx-content ol.upperroman
{
    list-style:upper-roman
}

#sphinx-content dl
{
    margin-bottom:15px
}

#sphinx-content dd p
{
    margin-top:0
}

#sphinx-content dd table,#sphinx-content dd ul
{
    margin-bottom:10px
}

#sphinx-content dd
{
    margin-top:3px;
    margin-bottom:10px;
    margin-left:30px
}

#sphinx-content .highlighted,#sphinx-content dt:target
{
    background-color:#fbe54e
}

#sphinx-content dl.glossary dt
{
    font-weight:bold;
    font-size:1.1em
}

#sphinx-content .field-list ul
{
    margin:0;
    padding-left:1em
}

#sphinx-content .field-list p
{
    margin:0
}

#sphinx-content .refcount
{
    color:#060
}

#sphinx-content .optional
{
    font-size:1.3em
}

#sphinx-content .versionmodified
{
    font-style:italic
}

#sphinx-content .system-message
{
    background-color:#fda;
    padding:5px;
    border:3px solid red
}

#sphinx-content .footnote:target
{
    background-color:#ffa
}

#sphinx-content .line-block
{
    display:block;
    margin-top:1em;
    margin-bottom:1em
}

#sphinx-content .line-block .line-block
{
    margin-top:0;
    margin-bottom:0;
    margin-left:1.5em
}

#sphinx-content .guilabel,#sphinx-content .menuselection
{
    font-family:sans-serif
}

#sphinx-content .accelerator
{
    text-decoration:underline
}

#sphinx-content .classifier
{
    font-style:oblique
}

#sphinx-content abbr,#sphinx-content acronym
{
    border-bottom:dotted 1px;
    cursor:help
}

#sphinx-content pre
{
    overflow:auto;
    overflow-y:hidden
}

#sphinx-content td.linenos pre
{
    padding:5px 0;
    border:0;
    background-color:transparent;
    color:#aaa
}

#sphinx-content table.highlighttable
{
    margin-left:.5em
}

#sphinx-content table.highlighttable td
{
    padding:0 .5em 0 .5em
}

#sphinx-content tt.descname
{
    background-color:transparent;
    font-weight:bold;
    font-size:1.2em
}

#sphinx-content tt.descclassname
{
    background-color:transparent
}

#sphinx-content tt.xref
{
    background-color:transparent;
    font-weight:bold
}

#sphinx-content h1 tt,#sphinx-content h2 tt,#sphinx-content h3 tt,#sphinx-content h4 tt,#sphinx-content h5 tt,#sphinx-content h6 tt
{
    background-color:transparent
}

#sphinx-content .viewcode-link
{
    float:right
}

#sphinx-content .viewcode-back
{
    float:right;
    font-family:sans-serif
}

#sphinx-content div.viewcode-block:target
{
    margin:-1px -10px;
    padding:0 10px
}

#sphinx-content img.math
{
    vertical-align:middle
}

#sphinx-content div.body div.math p
{
    text-align:center
}

#sphinx-content span.eqno
{
    float:right
}

@media print
{
    #sphinx-content div.bodywrapper,#sphinx-content div.document,#sphinx-content div.documentwrapper
    {
        margin:0 !important;
        width:100%
    }
    
    
}

@media print
{
    #sphinx-content #top-link,#sphinx-content div.footer,#sphinx-content div.related,#sphinx-content div.sphinxsidebar
    {
        display:none
    }
    
    
}

#sphinx-content
{
    font:400 14px/1.4 "proxima-nova", sans-serif;
    font-size:14px;
    color:#000;
    padding:0;
    margin:0 auto 60px auto;
    width:970px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
}

#sphinx-content *, #sphinx-content *:before, #sphinx-content *:after
{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
}

#sphinx-content div.document
{
    background-color:#fff;
    text-align:left;
    background-image:url(contents.png);
    background-repeat:repeat-x
}

#sphinx-content div.bodywrapper
{
    margin:0 240px 0 0;
    border-right:1px solid #ccc
}

#sphinx-content div.body
{
    margin:0;
    padding:.5em 20px 20px 20px
}

#sphinx-content div.related
{
    font-size:1em
}

#sphinx-content div.related ul
{
    background-image:url(navigation.png);
    height:2em;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd
}

#sphinx-content div.related ul li
{
    margin:0;
    padding:0;
    height:2em;
    float:left;
	background: none
}

#sphinx-content div.toctree-wrapper.compound ul li
{
	background: none
}

#sphinx-content div.related ul li.right
{
    float:right;
    margin-right:5px
}

#sphinx-content div.toctree-wrapper.compound ul li a
{
	text-decoration: none
}

#sphinx-content div.related ul li a
{
    margin:0;
    padding:0 5px 0 5px;
    line-height:1.75em;
    color:rgb(202,81,0)
}

#sphinx-content div.related ul li a:hover
{
    color:#3CA8E7
}

#sphinx-content div.sphinxsidebarwrapper
{
    padding:0
}

#sphinx-content div.sphinxsidebar
{
    margin:0;
    padding:.5em 15px 15px 0;
    width:210px;
    float:right;
    font-size:1em;
    text-align:left
}

#sphinx-content div.sphinxsidebar ul li
{
	background: none;
	padding: 0 0 0 7px
}

#sphinx-content div.sphinxsidebar h3,#sphinx-content div.sphinxsidebar h4
{
    margin:1em 0 .5em 0;
    font-size:1em;
    padding:.1em 0 .1em .5em;
    color:#000000;
    border:1px solid #86989B;
    background-color:#AFC1C4
}

#sphinx-content div.sphinxsidebar h3 a
{
    color:#000000
}

#sphinx-content div.sphinxsidebar ul
{
    padding-left:1.5em;
    margin-top:7px;
    padding:0;
    line-height:130%
}

#sphinx-content div.sphinxsidebar ul ul
{
    margin-left:5px
}

#sphinx-content div.footer
{
    background-color:#E3EFF1;
    color:#86989B;
    padding:3px 8px 3px 0;
    clear:both;
    font-size:.8em;
    text-align:right
}

#sphinx-content div.footer a
{
    color:#86989B;
    text-decoration:underline
}

#sphinx-content p
{
    margin:.8em 0 .5em 0
}

#sphinx-content a
{
    color:rgb(202,81,0);
    text-decoration:none
}

#sphinx-content a > em
{
    font-style: normal;
}

#sphinx-content a:hover
{
    color:#2491CF
}

#sphinx-content div.body a
{
    text-decoration:none
}

#sphinx-content h1
{
    margin:0;
    padding:.7em 0 .3em 0;
    font-size: 30px;
    color: #404343;
}

#sphinx-content h2
{
    margin:1.3em 0 .2em 0;
    padding:0;
    font-size: 24px;
}

#sphinx-content h3
{
    margin:1.5em 0 12px 0;
    font-size: 18px;
}

#sphinx-content h4
{
    margin:1.5em 0 12px 0;
    font-size: 16px;
}

#sphinx-content div.body h1 a,#sphinx-content div.body h2 a,#sphinx-content div.body h3 a,#sphinx-content div.body h4 a,#sphinx-content div.body h5 a,#sphinx-content div.body h6 a
{
    color:#000 !important
}

#sphinx-content h1 a.anchor,#sphinx-content h2 a.anchor,#sphinx-content h3 a.anchor,#sphinx-content h4 a.anchor,#sphinx-content h5 a.anchor,#sphinx-content h6 a.anchor
{
    display:none;
    margin:0 0 0 .3em;
    padding:0 .2em 0 .2em;
    color:#aaa !important
}

#sphinx-content h1:hover a.anchor,#sphinx-content h2:hover a.anchor,#sphinx-content h3:hover a.anchor,#sphinx-content h4:hover a.anchor,#sphinx-content h5:hover a.anchor,#sphinx-content h6:hover a.anchor
{
    display:inline
}

#sphinx-content h1 a.anchor:hover,#sphinx-content h2 a.anchor:hover,#sphinx-content h3 a.anchor:hover,#sphinx-content h4 a.anchor:hover,#sphinx-content h5 a.anchor:hover,#sphinx-content h6 a.anchor:hover
{
    color:#777;
    background-color:#eee
}

#sphinx-content a.headerlink
{
    color:#c60f0f !important;
    font-size:1em;
    margin-left:6px;
    padding:0 4px 0 4px;
    text-decoration:none !important
}

#sphinx-content a.headerlink:hover
{
    background-color:#ccc;
    color:#fff !important
}

#sphinx-content cite,#sphinx-content code,#sphinx-content tt
{
    font-family:Consolas, Deja Vu Sans Mono, Bitstream Vera Sans Mono, monospace;
    font-size:.95em;
    letter-spacing:.01em
}

#sphinx-content tt
{
    background-color:#f2f2f2;
    border-bottom:1px solid #ddd;
    color:#333
}

#sphinx-content tt.descclassname,#sphinx-content tt.descname,#sphinx-content tt.xref
{
    border:0
}

#sphinx-content hr
{
    border:1px solid #abc;
    margin:2em
}

#sphinx-content a tt
{
    color:#CA7900
}

#sphinx-content a tt:hover
{
    color:#2491CF
}

#sphinx-content pre
{
    font-family:Consolas, Deja Vu Sans Mono, Bitstream Vera Sans Mono, monospace;
    font-size:.95em;
    letter-spacing:.015em;
    line-height:120%;
    padding:.5em;
    border:1px solid #ccc;
    background-color:#f8f8f8
}

#sphinx-content pre a
{
    color:inherit;
    text-decoration:underline
}

#sphinx-content td.linenos pre
{
    padding:.5em 0
}

#sphinx-content div.quotebar
{
    background-color:#f8f8f8;
    max-width:250px;
    float:right;
    padding:2px 7px;
    border:1px solid #ccc
}

#sphinx-content div.topic
{
    background-color:#f8f8f8
}

#sphinx-content table
{
    border-collapse:collapse;
    margin:0 -.5em 0 -.5em
}

#sphinx-content table td,#sphinx-content table th
{
    padding:.2em .5em .2em .5em
}

#sphinx-content div.admonition,#sphinx-content div.warning
{
    font-size:.9em;
    margin:1em 0 1em 0;
    border:1px solid #86989B;
    background-color:#f7f7f7;
    padding:0
}

#sphinx-content div.admonition p,#sphinx-content div.warning p
{
    margin:.5em 1em .5em 1em;
    padding:0
}

#sphinx-content div.admonition pre,#sphinx-content div.warning pre
{
    margin:.4em 1em .4em 1em
}

#sphinx-content div.admonition p.admonition-title,#sphinx-content div.warning p.admonition-title
{
    margin:0;
    padding:.1em 0 .1em .5em;
    color:#fff;
    border-bottom:1px solid #86989B;
    font-weight:bold;
    background-color:#707C7E
}

#sphinx-content div.warning
{
    border:1px solid #940000
}

#sphinx-content div.warning p.admonition-title
{
    background-color:#CF0000;
    border-bottom-color:#940000
}

#sphinx-content div.admonition ol,#sphinx-content div.admonition ul,#sphinx-content div.warning ol,#sphinx-content div.warning ul
{
    margin:.1em .5em .5em 3em;
    padding:0
}

#sphinx-content div.versioninfo
{
    margin:1em 0 0 0;
    border:1px solid #ccc;
    background-color:#DDEAF0;
    padding:8px;
    line-height:1.3em;
    font-size:.9em
}

#sphinx-content .viewcode-back
{
    font-family:Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif
}

#sphinx-content div.viewcode-block:target
{
    background-color:#f4debf;
    border-top:1px solid #ac9;
    border-bottom:1px solid #ac9
}

#sphinx-content .section
{
    padding: 0;
}

#sphinx-content blockquote
{
    margin: 1em 40px;
    text-indent: 0;
}

#sphinx-content .video
{
    display: block;
    margin: 10px auto;
}

.frame-table1 table td
{
	text-align:right;
}

/*****************************************************
 * document - table styles
 *****************************************************/

    /*------------------------------------
     * custom table classes
     *------------------------------------*/

table.fullwidth { width: 100%; }

table.centered { margin-left: auto; margin-right: auto; }

table.docutils.plain { border: none; }
table.docutils.plain tr.row-odd > * { background: none; }

/* legacy alias for table.plain */
table.docutils.html-plain-table tr.row-odd > * { background: none; }

    /*------------------------------------
     * default table styling
     *------------------------------------*/

table.docutils th {
    border: 0 solid transparent;
    padding: .4em;
    font-family: {{ theme_headfont }};
    background: {{ theme_table_header_color }};
}

table.docutils th.head:not(.stub) {
    border-bottom: 1px solid {{ theme_table_trim_color }};
}

table.docutils th.stub + td
{
    border-left: 1px solid {{ theme_table_trim_color }};
}

table.docutils td {
    padding: .4em;
    border: 0 solid {{ theme_table_trim_color }};
}
table.docutils tr.row-odd td { background: {{ theme_table_shade_color }}; }

h2 + table.docutils { margin-top: 1em; }
table > caption { margin: 1em 0 .5em; font-style: italic; }

    /*------------------------------------
     * td/th classes added by .ext.table_styling
     *------------------------------------*/
table.docutils .left-align { text-align: left; }
table.docutils .center-align { text-align: center; }
table.docutils .right-align { text-align: right; }
table.docutils .justify-align { text-align: justify; }
table.docutils .nowrap { white-space: nowrap; }

table.docutils .single-left-divider { border-left-width: 2px; }
table.docutils th + .single-left-divider,
table.docutils th + .double-left-divider { border-left-width: 0; }
table.docutils .double-left-divider { border-left-width: 6px; border-left-style: double; }
table.docutils .single-right-divider:last-child { border-right-width: 2px; }
table.docutils .double-right-divider:last-child { border-right-width: 6px; border-right-style: double; }
