﻿@using BadumnaNetworkController;

<script language="javascript" type="text/javascript">
    function onCancel() {
        $.manageAjax.add('cacheQueue', {
            url: '@Url.Action("Login", "Users")',
            type: 'GET',
            success: function (response) {
                $('#result').html(response);
            }
        });
    }
</script>

<fieldset>
    <h3>@Resources.ChangePassword<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('ChangePassword','Overview');"/></h3>
    @Html.ValidationSummary(Resources.ErrorSummary)
    @using (Ajax.BeginForm(
        "ChangePassword", 
        "Users", 
        new AjaxOptions() {
                OnSuccess = "function(response) {$('#result').html(response.get_data());}"
           }))
    {
        <p>
            <label for="oldPassword">@Resources.OldPassword:</label>
            @Html.Password("oldPassword")
            @Html.ValidationMessage("oldPassword", "*")
        </p>
        <p>
            <label for="newPassword">@Resources.NewPassword:</label>
            @Html.Password("newPassword")
            @Html.ValidationMessage("newPassword", "*")
        </p>
        <p>
            <label for="passwordConfirmation">@Resources.PasswordConfirmation:</label>
            @Html.Password("passwordConfirmation")
            @Html.ValidationMessage("passwordConfirmation", "*")
        </p>
        <p>
            @Html.Hidden("username", (string)ViewBag.username)
            <input type="submit" value="Change" />
            <input type="button" value="Cancel" onclick="onCancel();"/>
        </p>     
    }   
</fieldset>