﻿@using BadumnaNetworkController.Controllers;
@using BadumnaNetworkController;

<h3>@Resources.CreateNewUserAccount</h3>
@Html.ValidationSummary(Resources.ErrorSummary)

<fieldset>
    <legend>User information</legend>
    @using (Ajax.BeginForm(
        "Create",
        "Users",
        new AjaxOptions()
        {
            OnSuccess = "function(response) {$('#result').html(response.get_data());}"
        }))
    {
        <table style="border:0px;">
            <tr>
                <td>
                    <p>
                        <label for="Username">@Resources.Username:</label>
                        @Html.TextBox("Username")
                        @Html.ValidationMessage("username", "*")
                    </p>
                    <p>
                        <label for="Password">@Resources.Password:</label>
                        @Html.Password("Password")
                        @Html.ValidationMessage("password", "*")
                    </p>
                    <p>
                        <label for="PasswordConfirmation">@Resources.PasswordConfirmation:</label>
                        @Html.Password("PasswordConfirmation")
                        @Html.ValidationMessage("passwordConfirmation", "*")
                    </p>
                    <p>
                        @if (UsersController.HasPermission(@HttpContext.Current.Session, Dei.PermissionTypes.AssignPermissions))
                        {     
                            @:<input type="submit" value="@Resources.Submit"  />
                        }
                        else
                        {            
                            @:<input type="submit" value="@Resources.Submit" onclick="return confirm('You do not have permission to Grant permissions for the newly created user. Continue anyway?');" />
                        } 
                </p>
            </td>
            <td>
                <div id="permissions"></div>
                <script language="javascript">
                    (function () {
                        $.manageAjax.add('cacheQueue', {
                            url: '@Url.Action("GetPermissions", "Users") ',
                            type: 'GET',
                            success: function (response) {
                                $('#permissions').html(response);
                            }
                        });
                    })();
                </script>
            </td>
        </tr>
    </table>
    }
</fieldset>