﻿@using BadumnaNetworkController;

<script language="javascript" type="text/javascript">
    function onEditUserSuccess(response) {
        if (response != 'Failed' && response != 'Succeed') {
            $('#result').html(response);
        }
    }
</script>

Manage User : <strong>@Html.Encode(ViewData["Username"]) </strong>
@Html.ValidationSummary(Resources.ErrorSummary)
@using (Ajax.BeginForm(
            "Edit",
            "Users",
            new { username = ViewData["Username"] },
            new AjaxOptions()
            {
                OnSuccess = "function(response){ onEditUserSuccess(response.get_data()); }"
            }, null))
{
    Html.RenderPartial("Permissions", ViewData); 
    <text>
    <p style="text-align:right;">
        <input type="submit" value="@Resources.Save" />
    </p>
    </text>
} 
