﻿@using BadumnaNetworkController.Controllers;
@using BadumnaNetworkController;

<h2>@Resources.DeiAccountManagement<img src="../../Content/images/qm.png" style="width:20px;height:20px;cursor:pointer;" alt="QuestionMark" onclick="showHelp('AccountManagement','Overview');"/></h2>

<span style="color: Blue;">
    @(ViewBag.Message != null ? ViewBag.Message : "")
</span>

<div id="result">
@if (UsersController.IsLoggedIn(@HttpContext.Current.Session))
{
    Html.RenderPartial("~/Views/Users/LoggedIn.cshtml");
}
else
{
    Html.RenderPartial("~/Views/Users/Login.cshtml");
}
</div> 