﻿@using BadumnaNetworkController.Controllers;
@using Dei;
@using Dei.AdminClient;
@using BadumnaNetworkController;

@model ListUserCursor

<script language="javascript" type="text/javascript">
    var removeUser;
    function removeUserConfirmation(username) {
        removeUser = username;
        var txt = "<p>Are you sure you want to delete user " + username + "? It cannot be undone!";
        $.prompt(txt, {
            callback: removeUserCallback,
            buttons: { Yes: true, Cancel: false }
        });
    }

    function removeUserCallback(v) {
        if (v) {
            $.manageAjax.add('cacheQueue', {
                url: '@Url.Action("Remove", "Users")',
                data: { 'username': removeUser },
                type: 'POST',
                success: function (response) {
                    $('#searchResults').html(response);
                }
            });
        }
    }
</script>

<h3>@Resources.EditExistingUserAccount</h3>
<fieldset>
    <table style="border:0 none;">
        <tr>
            <td>
                <table style="border:0 none;">
                @{
                    int counter = 1 + (int)Model.RangeStart;
                    foreach (string username in Model.GetResults())
                    {
                        <tr>
                            <td>
                                @(counter).
                            </td>
                            <td>
                                @Html.Encode(username)
                            </td>
                            <td>
                                @if (UsersController.HasPermission(@HttpContext.Current.Session, PermissionTypes.ViewUsers))
                                {
                                    string updateTag = String.Format("edit_{0}", counter);
                                    string updateLink = String.Format("{0}_link", counter);

                                    @:<img id='@updateTag' src='/Content/wait16.gif' style='display: none;' alt='Waiting ...' />
                                    @:<span id='@updateLink'>
                                    @Ajax.ActionLink(
                                        "Edit",
                                        "Edit",
                                        "Users",
                                        new { username = username },
                                        new AjaxOptions()
                                        {
                                            LoadingElementId = updateTag,
                                            OnBegin = "function(){ return $('#" + updateLink + "').hide(); }",
                                            OnComplete = "function(){ return $('#" + updateLink + "').show(); }",
                                            HttpMethod = "Get",
                                            OnSuccess = "function(response) {$('#editUser').html(response.get_data());}"
                                        },
                                        null)
                                    @:</span>
                               }
                            </td>
                            <td>
                                @if (UsersController.HasPermission(@HttpContext.Current.Session, PermissionTypes.CreateUsers) && !username.Equals("admin"))
                                {
                                    @:<a onclick="removeUserConfirmation('@username');" style="cursor: pointer;"><span style="text-decoration: underline">@Resources.Remove</span></a>
                                }
                            </td>
                        </tr>
                                counter++;
                    }
                }
                        <tr>
                        </tr>
                </table>
                <br/>
                <span>
                    @if (Model.Count > Model.MaximumNumberOfResults)
                    {
                        if (Model.HasPrevious)
                        {
                            @Ajax.ActionLink("<< Previous", "Previous", new AjaxOptions() { OnSuccess = "function(response) {$('#searchResults').html(response.get_data());}" }) 
                            @:|
                        }
        
                        <text>
                        Results  
                        @Model.RangeStart
                        -
                        @(Model.RangeStart + Model.MaximumNumberOfResults)
                        of
                        @Model.Count 
                        </text>
                        
                        if(Model.HasNext)
                        {
                            @:|
                            @Ajax.ActionLink("Next >>", "Next", new AjaxOptions() { OnSuccess = "function(response) {$('#searchResults').html(response.get_data());}" })
                        }
                    }
                </span>
            </td>
            <td>
                <div id="editUser">
                </div>
            </td>
        </tr>
    </table>
</fieldset>