﻿@using BadumnaNetworkController.Controllers;
@using Dei;
@using BadumnaNetworkController;

<script language="javascript" type="text/javascript">
    function tabview(tabviewId, id) {

        var tabView = document.getElementById(tabviewId);

        var tabs = tabView.firstChild;
        while (tabs.className != "Tabs") {
            tabs = tabs.nextSibling;
        }

        var tab = tabs.firstChild;
        var i = 0;

        do {
            if (tab.tagName == "A") {
                i++;
                tab.href = "javascript:tabview_switch('" + tabviewId + "', " + i + ");";
                tab.className = (i == id) ? "Active" : "";
                tab.blur();
            }
        }
        while (tab = tab.nextSibling);

        var pages = tabView.firstChild;
        while (pages.className != 'Pages') {
            pages = pages.nextSibling;
        }

        var page = pages.firstChild;
        i = 0;

        do {
            if (page.className == 'Page') {
                i++;
                page.style.overflow = "auto";
                page.style.display = (i == id) ? 'block' : 'none';
            }
        }
        while (page = page.nextSibling);
    }

    function tabview_switch(tabviewId, id) {
        tabview(tabviewId, id);
    }

    function tabview_initialize(tabviewId) {
        tabview(tabviewId, 1);
    }
</script>

<p style="text-align:right;">
    [@Ajax.ActionLink(
        "Logout", 
        "Logout", 
        "Users", 
        new AjaxOptions() {
            OnSuccess = "function(response) {$('#result').html(response.get_data());}"
        })] 
    [@Ajax.ActionLink(
        "Change password", 
        "ChangePassword", 
        "Users", 
        new AjaxOptions(){
            HttpMethod = "GET",
            OnSuccess = "function(response) {$('#result').html(response.get_data());}"
        })]
</p>

<div class="TabView" id="TabView">
    <div class="Tabs" style="width: 350px;">
         @if (UsersController.HasPermission(@HttpContext.Current.Session, PermissionTypes.CreateUsers))
         {
            @:<a>Create user</a>
         }
         
         @if (UsersController.HasPermission(@HttpContext.Current.Session, PermissionTypes.ViewUsers))
         {
            @:<a>Edit users</a>
         }
    </div>
    <div class="Pages">
         @if (UsersController.HasPermission(@HttpContext.Current.Session, PermissionTypes.CreateUsers))
         {
            <div class="Page">
                @{ Html.RenderPartial("~/Views/Users/CreateUser.cshtml");}
            </div>
         }
         @if (UsersController.HasPermission(@HttpContext.Current.Session, PermissionTypes.ViewUsers))
         {  
            <div class="Page">
                <div id="searchResults"></div>
                <script language="javascript">
                    (function () {
                        $.manageAjax.add('cacheQueue', {
                            url: '@Url.Action("AllUsers", "Users")',
                            type: 'GET',
                            success: function (response) {
                                $('#searchResults').html(response);
                            }
                        });
                    })();
                </script>
                @{ Html.RenderPartial("~/Views/Users/SearchUsers.cshtml"); }
            </div>
         }
    </div>
</div>
<script language="javascript" type="text/javascript">
    tabview_initialize('TabView');
</script>