﻿@using BadumnaNetworkController;

<script language="javascript" type="text/javascript">
    function SubmitForm() {
        $.manageAjax.add('cacheQueue', {
            url: '@Url.Action("Login", "Users")',
            data: { 'username': document.getElementById("Username").value, 'password': document.getElementById("Password").value },
            type: 'POST',
            success: function (response) {
                $('#result').html(response);
            }
        });
    }
</script>

<fieldset>
    <h3>Login to Dei account server</h3>
    @Html.ValidationSummary(Resources.ErrorSummary)
    @using (Ajax.BeginForm(
        "Login", 
        "Users", 
        new AjaxOptions() {
           OnSuccess = "function(response) {$('#result').html(response.get_data());}"
        }))
    {
        <p>
            <label for="Username">@Resources.Username:</label>
            @Html.TextBox("Username")
            @Html.ValidationMessage("username", "*")
        </p>
        <p>
            <label for="Password">@Resources.Password:</label>
            @Html.Password("Password")
            @Html.ValidationMessage("password", "*")
        </p>
        <p>
            <input type="submit" value="@Resources.Submit" />
        </p>
    }
</fieldset>