﻿@using BadumnaNetworkController.Controllers;
@using Dei;
@using BadumnaNetworkController;

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("input[type='radio']").mousedown(function (e) {
            if ($(this).attr("checked") == true) {
                setTimeout("$('input[id=" + $(this).attr('id') + "]').removeAttr('checked');", 200);
                setDefaultValue(false, "disabled", $(this).attr("name").indexOf(':') != -1 ? $(this).attr("name").split(':')[0] : "");
            }
            else {
                return true;
            }
        });
    });

    function onPropertyChange(accountType, id) {
        var radioButtons = document.getElementsByName(id + "accountType")

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].value != accountType && radioButtons[i].checked) {
                radioButtons[i].checked = false;
            }
        }

        // set permissions to default condition.
        setDefaultValue(false, "disabled", id);
        switch (accountType) {
            case "User":
                document.getElementById(id + "Participation").checked = true;
                break;
            case "Admin":
                document.getElementById(id + "Admin").checked = true;
                document.getElementById(id + "CreateUsers").checked = true;
                document.getElementById(id + "ViewUsers").checked = true;
                document.getElementById(id + "CreatePermissions").checked = true;
                document.getElementById(id + "AssignPermissions").checked = true;
                document.getElementById(id + "ViewPermissions").checked = true;
                break;
            case "HostedService":
                document.getElementById(id + "Participation").checked = true;
                document.getElementById(id + "Announce").checked = true;
                break;
            case "Custom":
                setDefaultValue(false, false, id);
                break;
        }

    }

    function setDefaultValue(checked, disabled, username) {
        var inputs = document.getElementsByTagName("input");

        for (var i = 0; i < inputs.length; i++) {
            if (username == "") {
                if (inputs[i].type == "checkbox" && inputs[i].name.indexOf(':') == -1) {
                    inputs[i].checked = checked;
                    inputs[i].disabled = disabled;
                }
            }
            else {
                if (inputs[i].type == "checkbox" && inputs[i].name.indexOf(username) != -1) {
                    inputs[i].checked = checked;
                    inputs[i].disabled = disabled;
                }
            }
        }
    }
</script>

<fieldset>
    <label>Account type:</label>  
    @{
        string username = "";
        if (ViewBag.Username != null)
        {
            username = ViewBag.Username + ":";
        }
        
        if (ViewBag.AccountTypes != null)
        {
            UsersController.AccountTypes[] accountTypes = ViewBag.AccountTypes as UsersController.AccountTypes[];
            for (int i = 0; i < accountTypes.Length; i++)
            {
                if (ViewBag.AccountType != null
                    && ((UsersController.AccountTypes)ViewBag.AccountType).Equals(accountTypes[i]))
                {
    
                    @Html.RadioButton(username + "accountType", accountTypes[i].ToString(), true, new { onchange = "onPropertyChange('" + accountTypes[i] + "', '" + username + "');" })
                }
                else
                {
                    @Html.RadioButton(username + "accountType", accountTypes[i].ToString(), new { onchange = "onPropertyChange('" + accountTypes[i] + "', '" + username + "');" })
                }
    
                @Html.Raw(string.Format("{0} account", accountTypes[i].ToString()))
            
                <br/>
            }
        }
    
        <br/>

        <table>
            <tr>
                <td colspan='2'>
                    @Resources.Permissions
                </td>
            </tr>
            <tr>
                @if (ViewBag.PermissionsTypes != null)
                {
                    List<PermissionProperties> permissions = ViewBag.PermissionsTypes as List<PermissionProperties>;
                    List<PermissionProperties> userPermissions = null;
            
                    if (ViewBag.UserPermissions != null)
                    {
                        userPermissions = ViewBag.UserPermissions as List<PermissionProperties>;
                    }
            
                    int counter = 0;
                    foreach (PermissionProperties permission in permissions)
                    {
                        if (counter == 0)
                        {    
                            @:<td>
                        }

                        if (userPermissions != null 
                            && userPermissions.Exists(
                                (Predicate<PermissionProperties>)delegate(PermissionProperties p)
                                {
                                    if(p.Id == permission.Id)
                                    {
                                        return true;
                                    }   
                        
                                    return false;
                                }))
                        {
    
                            @Html.CheckBox(username + Enum.GetName(typeof(PermissionTypes), permission.Id), true, new { disabled = "disabled" })
                        }
                        else
                        { 
                            @Html.CheckBox(username + Enum.GetName(typeof(PermissionTypes), permission.Id), new { disabled = "disabled" })
                        }
    
                        @permission.Name <br/>      
             
                        counter++;
                        if (counter == 4)
                        {
                            counter = 0;    
                            @:</td>
                        }
                    }
                }     
            </tr>
        </table>
    }
</fieldset>