﻿@using BadumnaNetworkController;

<span>
    @using (Ajax.BeginForm(
        "Search",
        "Users",
        new AjaxOptions()
        {
            LoadingElementId = "busySearching",
            OnBegin = "function(){ return $('#button').hide(); }",
            OnComplete = "function(){ return $('#button').show(); }",
            UpdateTargetId = "searchResults",
        }))
    {
            <label for="username" style="display:inline;">@Resources.SearchUsers:</label>
            @Html.TextBox("username", "")
            <img id='busySearching' src='/Content/wait16.gif' style='display: none;' alt='Updating ...' />
            <input id='button' type="submit" value="@Resources.Search" />
    }
</span>