﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = "Certificate Authentication";
    Layout = "~/Views/Shared/NonLoginLayout.cshtml";
}

<h2>Certificate Authentication</h2>
<p>
    The certificate file is found, enter your passphrase for your ControlCenter certificate.
</p>
@if (ViewBag.Message != null)
{
    <p>System message : @Html.Encode(ViewBag.Message)</p>
}
    
@if (ViewBag.ErrorMessage != null)
{
    <p>Error message : @Html.Encode(ViewBag.ErrorMessage)</p>
}
    
@Html.ValidationSummary(Resources.ErrorSummary)
@using (Html.BeginForm())
{
    <fieldset>
        <p>
            <label for="Passphrase">@Resources.CertificatePassPhrase:</label>
            @Html.Password("Passphrase")
            @Html.ValidationMessage("Passphrase", "*")
        </p>
        <p>
            <input type="submit" value='@Resources.Submit' />
        </p>
    </fieldset>
}