﻿@using BadumnaNetworkController;

@{
    ViewBag.Title = "Create Certificate";
    Layout = "~/Views/Shared/NonLoginLayout.cshtml";
}

<h2>Create a new certificate</h2>
<p>
    The certificate file is not found, Control Center will now generate a new certificate. 
    Enter your passphrase for your new ControlCenter certificate.
</p>

@Html.ValidationSummary(Resources.ErrorSummary)
@using (Html.BeginForm())
{
    <fieldset>
        <p>
            <label for="Passphrase">@Resources.CertificatePassPhrase:</label>
            @Html.Password("Passphrase")
            @Html.ValidationMessage("Passphrase", "*")
        </p>
        <p>
            <label for="PassphraseConfirmation">@Resources.CertificatePassPhrase confirmation:</label>
            @Html.Password("PassphraseConfirmation")
            @Html.ValidationMessage("PassphraseConfirmation", "*")
        </p>
        <p>
            <input type="submit" value='@Resources.Submit' />
        </p>
    </fieldset>
}